{% if keycloak_galera_backend_enable|bool %}
DB_VENDOR=MARIADB
DB_ADDR= {{ kolla_internal_vip_address }}
DB_DATABASE={{ keycloak_database_name }}
DB_USER={{ keycloak_database_username }}
DB_PASSWORD={{ keycloak_database_password }}
DB_PORT=3306
{% else %}
DB_VENDOR=POSTGRES
DB_ADDR=postgres
DB_DATABASE={{ keycloak_postgres_databasename }}
DB_USER={{ keycloak_postgres_username }}
DB_SCHEMA=public
DB_PASSWORD={{ keycloak_postgres_password }}
{% endif %}
KEYCLOAK_USER={{ keycloak_username }}
KEYCLOAK_PASSWORD={{ keycloak_password }}
PROXY_ADDRESS_FORWARDING=true
