KC_HOSTNAME=keycloak

{% if keycloak_galera_backend_enable | bool %}
KC_DB=mariadb
KC_DB_URL=jdbc:mariadb://{{ kolla_internal_vip_address }}/{{ keycloak_databasename }}
KC_DB_USERNAME={{ keycloak_database_username }}
KC_DB_PASSWORD={{ keycloak_database_password }}
{% else %}
KC_DB=postgres
KC_DB_URL=jdbc:postgresql://postgres/{{ keycloak_postgres_databasename }}
KC_DB_USERNAME={{ keycloak_postgres_username }}
KC_DB_PASSWORD={{ keycloak_postgres_password }}
{% endif %}

KEYCLOAK_ADMIN={{ keycloak_username }}
KEYCLOAK_ADMIN_PASSWORD={{ keycloak_password }}

PROXY_ADDRESS_FORWARDING=true
