DB_VENDOR=POSTGRES
DB_ADDR=postgres
DB_DATABASE={{ keycloak_postgres_databasename }}
DB_USER={{ keycloak_postgres_username }}
DB_SCHEMA=public
DB_PASSWORD={{ keycloak_postgres_password }}
KEYCLOAK_USER={{ keycloak_username }}
KEYCLOAK_PASSWORD={{ keycloak_password }}
