---
##########################
# docker

docker_registry: index.docker.io
docker_registry_adminer: "{{ docker_registry }}"

##########################
# operator user

operator_user: dragon
operator_group: "{{ operator_user }}"

##########################
# adminer

adminer_docker_compose_directory: /opt/adminer

adminer_host: 127.0.0.1
adminer_database_host: 127.0.0.1
adminer_port: 8111

adminer_tag: 4.7
adminer_image: "{{ docker_registry_adminer }}/library/adminer:{{ adminer_tag }}"

docker_network_mtu: 1500
adminer_network: 172.31.100.64/28

adminer_service_name: "docker-compose@adminer"
