---
version: '3'

services:
  pulp:
    container_name: "{{ pulp_container_name }}"
    restart: unless-stopped
    image: "{{ pulp_image }}"
    volumes:
      - "{{ pulp_configuration_directory }}/settings.py:/etc/pulp/settings.py:ro"
      - "/etc/hosts:/etc/hosts:ro"
      - "containers:/var/lib/containers"
      - "data:/var/lib/pulp"
      - "database:/var/lib/pgsql"
    devices:
      - "/dev/fuse:/dev/fuse"
    cap_add:
      - SYS_ADMIN
    ports:
      - "{{ pulp_host }}:{{ pulp_port }}:80"

volumes:
  containers:
  data:
  database:

networks:
 default:
   driver: bridge
   ipam:
     driver: default
     config:
       - subnet:  {{ pulp_network }}
