CONTENT_ORIGIN='http://{{ pulp_hostname }}:{{ pulp_port }}'
ANSIBLE_API_HOSTNAME='http://{{ pulp_hostname }}:{{ pulp_port }}'
ANSIBLE_CONTENT_HOSTNAME='http://{{ pulp_hostname }}:{{ pulp_port }}/pulp/content'
TOKEN_AUTH_DISABLED=True
