---
auditd_backup: false
auditd_syslog: false

##########################
# configuration

auditd_plugin_path: /etc/audisp/plugins.d
auditd_config:
  - parameter: active
    value: "{{ 'yes' if auditd_syslog | bool else 'no' }}"
    config: "{{ auditd_plugin_path }}/syslog.conf"

##########################
# rules

auditd_rules_path: /etc/audit/rules.d

auditd_rules_files_defaults:
  - 20-neo23x0.rules
auditd_rules_files_extra: []
auditd_rules_files: "{{ auditd_rules_files_defaults + auditd_rules_files_extra }}"

##########################
# packages

auditd_package_name: auditd
audispd_plugins_package_name: audispd-plugins

##########################
# services

auditd_service_name: auditd
