ADDJHVOLSIZE={{ openstack_health_monitor_addjhvolsize }}
ADDVMVOLSIZE={{ openstack_health_monitor_addvmvolsize }}
AZS={{ openstack_health_monitor_azs }}
DATADIR={{ openstack_health_monitor_datadir }}
FLAVOR={{ openstack_health_monitor_flavor }}
IMG={{ openstack_health_monitor_img }}
JHFLAVOR={{ openstack_health_monitor_jhflavor }}
JHIMG={{ openstack_health_monitor_jhimg }}
OS_CLOUD={{ openstack_health_monitor_os_cloud }}
