AZS={{ openstack_health_monitor_AZS }}
FLAVOR={{ openstack_health_monitor_FLAVOR }}
IMG={{ openstack_health_monitor_IMG }}
JHFLAVOR={{ openstack_health_monitor_JHFLAVOR }}
JHIMG={{ openstack_health_monitor_JHIMG }}
