ADDJHVOLSIZE={{ openstack_health_monitor_ADDJHVOLSIZE }}
ADDVMVOLSIZE={{ openstack_health_monitor_ADDVMVOLSIZE }}
AZS={{ openstack_health_monitor_AZS }}
DATADIR={{ openstack_health_monitor_DATADIR }}
FLAVOR={{ openstack_health_monitor_FLAVOR }}
IMG={{ openstack_health_monitor_IMG }}
JHFLAVOR={{ openstack_health_monitor_JHFLAVOR }}
JHIMG={{ openstack_health_monitor_JHIMG }}
OS_CLOUD={{ openstack_health_monitor_OS_CLOUD }}
