[DEFAULT]
log_level = DEBUG

[Billing]
Volume:
    volume.size
    volume.type

Instance:
    runtime
    flavor

[output]
file = pushed_billing_data
odoo =

[odoo]
odoo_db =
odoo_user_name =
odoo_api_key =
