---
- name: Forward syslog message to local fluentd daemon
  become: true
  ansible.builtin.template:
    src: 70-fluentd.conf.j2
    dest: /etc/rsyslog.d/70-fluentd.conf
    owner: root
    group: root
    mode: 0644
  notify: Restart rsyslog service
