---
- name: Include distribution specific install tasks
  ansible.builtin.include_tasks: "install-{{ ansible_os_family }}.yml"

- name: Copy rsyslog.conf configuration file
  become: true
  ansible.builtin.template:
    src: rsyslog.conf.j2
    dest: /etc/rsyslog.conf
    mode: 0644
    owner: root
    group: root
  notify: Restart rsyslog service

- name: Start/enable rsyslog service
  become: true
  ansible.builtin.service:
    name: "{{ rsyslog_service_name }}"
    state: started
    enabled: true

- name: Include fluentd tasks
  ansible.builtin.include_tasks: fluentd.yml
  tags: fluentd
  when: rsyslog_fluentd|bool

- name: Include additional log server tasks
  ansible.builtin.include_tasks: additional-log-server.yml
  when: rsyslog_additional_host is defined and rsyslog_additional_host|length > 0
