---
- name: Restart homer service
  become: true
  ansible.builtin.service:
    name: "{{ homer_service_name }}"
    state: restarted
  register: result
  until: result.status.ActiveState == "active"
  retries: 10
  delay: 20
