---
- name: Restart virtualbmc service
  become: true
  ansible.builtin.service:
    name: "{{ virtualbmc_service_name }}"
    state: restarted
  register: result
  until: result.status.ActiveState == "active"
  retries: 10
  delay: 20
