{
  "listeners": {
    "*:8080": {
      "pass": "routes"
    }
  },

  "routes": [
    {
      "match": {
        "uri": "/static/*"
      },
      "action": {
        "share": "/opt/netbox/netbox"
      }
    },

    {
      "match": {
        "uri": "/netbox/static/*"
      },
      "action": {
        "share": "/opt/netbox"
      }
    },

    {
      "action": {
        "pass": "applications/netbox"
      }
    }
  ],

  "applications": {
    "netbox": {
      "type": "python 3",
      "path": "/opt/netbox/netbox/",
      "module": "netbox.wsgi",
      "home": "/opt/netbox/venv",
      "processes": {
        "max": {{ netbox_nginx_processes_max }},
        "spare": {{ netbox_nginx_processes_spare }},
        "idle_timeout": {{ netbox_nginx_processes_idle_timeout }}
      }
    }
  },

  "access_log": "/dev/stdout"
}
