---
- name: Gather the apt package facts
  ansible.builtin.package_facts:
    manager: auto

- name: Create required directories
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ operator_user }}"
    group: "{{ operator_group }}"
    mode: 0750
  loop:
    - "{{ openstack_health_monitor_configuration_directory }}"
    - "{{ openstack_health_monitor_crontabs_directory }}"
    - "{{ openstack_health_monitor_docker_compose_directory }}"

- name: Copy environment file
  ansible.builtin.template:
    src: env/openstack_health_monitor.env.j2
    dest: "{{ openstack_health_monitor_configuration_directory }}/openstack_health_monitor.env"
    mode: 0640
    owner: "{{ operator_user }}"
    group: "{{ operator_group }}"

- name: Copy clouds.yml file
  ansible.builtin.copy:
    src: "{{ openstack_health_monitor_clouds_yml_path }}"
    dest: "{{ openstack_health_monitor_configuration_directory }}/clouds.yml"
    mode: 0640
    owner: "{{ operator_user }}"
    group: "{{ operator_group }}"

- name: Copy secure.yml file
  ansible.builtin.copy:
    src: "{{ openstack_health_monitor_secure_yml_path }}"
    dest: "{{ openstack_health_monitor_configuration_directory }}/secure.yml"
    mode: 0640
    owner: "{{ operator_user }}"
    group: "{{ operator_group }}"

- name: Copy docker-compose.yml file
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: "{{ openstack_health_monitor_docker_compose_directory }}/docker-compose.yml"
    owner: "{{ operator_user }}"
    group: "{{ operator_group }}"
    mode: 0640

- name: Start/enable openstack_health_monitor service
  become: true
  ansible.builtin.service:
    name: "{{ openstack_health_monitor_service_name }}"
    state: started
    enabled: true

- name: Create cronjob
  ansible.builtin.cron:
    name: run openstack health monitor script
    minute: "{{ openstack_health_monitor_cronjob_minute }}"
    hour: "{{ openstack_health_monitor_cronjob_hour }}"
    job: "/api_monitor.sh {{ openstack_health_monitor_arguments }}"
    cron_file: "{{ openstack_health_monitor_crontabs_directory }}/main"
    user: "{{ operator_user }}"
  when: openstack_health_monitor_cronjob|bool
