---
- name: Include distribution specific install tasks
  ansible.builtin.include_tasks: "install-{{ ansible_os_family }}.yml"

- name: Create /var/log/smartd directory
  become: true
  ansible.builtin.file:
    path: /var/log/smartd
    state: directory
    owner: root
    group: root
    mode: 0755

- name: Copy smartmontools configuration file
  become: true
  ansible.builtin.copy:
    src: smartmontools
    dest: /etc/default/smartmontools
    owner: root
    group: root
    mode: 0644
  notify: Restart smartd service

- name: Start/enable smartd service
  become: true
  ansible.builtin.service:
    name: "{{ smartd_service_name }}"
    state: started
    enabled: true
