DATABASES = {
    'default': {
        'ATOMIC_REQUESTS': True,
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': "{{ awx_postgres_databasename }}",
        'USER': "{{ awx_postgres_username }}",
        'PASSWORD': "{{ awx_postgres_password }}",
        'HOST': "postgres",
        'PORT': "5432",
    }
}

BROADCAST_WEBSOCKET_SECRET = "{{ awx_broadcast_websocket_secret | b64encode }}"
