DATABASES = {
    'default': {
        'ATOMIC_REQUESTS': True,
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': "{{ awx_postgres_databasename }}",
        'USER': "{{ awx_postgres_username }}",
        'PASSWORD': "{{ awx_postgres_password }}",
        'HOST': "postgres",
        'PORT': "5432",
    }
}

BROKER_URL = 'redis://redis:6379'
CHANNEL_LAYERS = {
   'default': {'BACKEND': 'channels_redis.core.RedisChannelLayer',
               'CONFIG': {
                   'hosts': ["redis://redis:6379/10"],
                   'capacity': 10000,
               }}
}

DJANGO_REDIS_IGNORE_EXCEPTIONS = True
CACHES = {
    'default': {
        'BACKEND': 'django_redis.cache.RedisCache',
        'LOCATION': 'redis://redis:6379',
        'OPTIONS': {
            'DB': 11
        }
    },
    'ephemeral': {
        'BACKEND': 'django.core.cache.backends.locmem.LocMemCache',
    }
}
