---
- log-level: debug

- control-service:
    service: control
    filename: /var/run/receptor/receptor.sock
    permissions: 0660

- local-only:

- work-command:
    worktype: local
    command: ansible-runner
    params: worker
    allowruntimeparams: true
