---
##########################
# docker

docker_network_mtu: 1500
docker_registry_metering: quay.io

##########################
# operator user

operator_user: dragon
operator_group: "{{ operator_user }}"

##########################
# metering

metering_install_type: container

##########################
# container

metering_configuration_directory: /opt/metering/configuration
metering_data_directory: /opt/metering/data
metering_docker_compose_directory: /opt/metering

metering_tag: zed
metering_image: "{{ docker_registry_metering }}/osism/metering:{{ metering_tag }}"

metering_container_name: metering

metering_network: 172.31.101.176/28

metering_service_name: "docker-compose@metering"
