---
- name: Restart phpmyadmin service
  become: true
  ansible.builtin.service:
    name: "{{ phpmyadmin_service_name }}"
    state: restarted
  register: result
  until: result.status.ActiveState == "active"
  retries: 10
  delay: 20
