---
- name: Copy /etc/netdata configuration files
  become: true
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "/etc/netdata/{{ item }}"
    owner: root
    group: root
    mode: 0644
  notify: "Restart service {{ netdata_service_name }}"
  loop: "{{ netdata_configuration_files }}"

- name: Create /var/lib/netdata/cloud.d directory
  become: true
  ansible.builtin.file:
    path: /var/lib/netdata/cloud.d
    state: directory
    owner: netdata
    group: netdata
    mode: 0775

- name: Copy cloud.conf configuration file
  become: true
  ansible.builtin.template:
    src: cloud.conf.j2
    dest: /var/lib/netdata/cloud.d/cloud.conf
    owner: netdata
    group: netdata
    mode: 0644
  notify: "Restart service {{ netdata_service_name }}"

- name: Retrieve /etc/netdata/.opt-out-from-anonymous-statistics status
  ansible.builtin.stat:
    path: /etc/netdata/.opt-out-from-anonymous-statistics
  register: result

- name: Opt out from anonymous statistics
  become: true
  ansible.builtin.file:
    path: /etc/netdata/.opt-out-from-anonymous-statistics
    owner: root
    group: root
    mode: 0644
    state: touch
  when: result.stat.exists is defined and not result.stat.exists

- name: Add netdata user to docker group
  become: true
  ansible.builtin.user:
    name: netdata
    groups: docker
    append: true
