{
{% if docker_opts | length %}
{% for key, value in docker_opts | dictsort %}
{% if value is sameas false %}
    "{{ key }}": false,
{% elif value is sameas true %}
    "{{ key }}": true,
{% elif value is string %}
    "{{ key }}": "{{ value }}",
{% elif value is number %}
    "{{ key }}": {{ value }},
{% elif value is sequence %}
    "{{ key }}": [
{% for nvalue in value | sort %}
      "{{ nvalue }}"{% if not loop.last %}, {% endif %}

{% endfor %}
    ],
{% else %}
    "{{ key }}": "{{ value }}",
{% endif %}
{% endfor %}
{% endif %}
{% if docker_disable_default_network is defined and docker_disable_default_network | bool %}
    "bridge": "none",
{% endif %}
    "debug": {{ docker_debug }},
{% if docker_default_address_pools is defined %}
    "default-address-pools" : [
{% for item in docker_default_address_pools %}
    {
      "scope" : "{{ item.scope }}",
      "base" : "{{ item.base }}",
      "size" : {{ item.size }}
    }{% if not loop.last %},{% endif %}

{% endfor %}
    ],
{% endif %}
    "experimental": {{ docker_experimental }},
    "hosts": [{% for host in docker_hosts %}"{{ host }}"{% if not loop.last %}, {% endif %}{% endfor %}],
    "insecure-registries": [{% for registry in docker_insecure_registries %}"{{ registry }}"{% if not loop.last %}, {% endif %}{% endfor %}],
    "ipv6": {{ docker_ipv6 }},
    "live-restore": {{ docker_live_restore }},
    "log-driver": "{{ docker_log_driver }}",
    "log-level": "{{ docker_log_level }}",
    "log-opts": {
{% for key, value in docker_log_opts | dictsort %}
      "{{ key }}": "{{ value }}"{% if not loop.last %}, {% endif %}

{% endfor %}
    },
{% if docker_configure_proxy | bool %}
    "proxies": {
      "http-proxy": "{{ docker_proxy_http }}",
      "https-proxy": "{{ docker_proxy_https }}",
      "no-proxy": "{{ docker_proxy_no_proxy | join(',') }}"
    },
{% endif %}
    "registry-mirrors": [{% for mirror in docker_registry_mirrors %}"{{ mirror }}"{% if not loop.last %}, {% endif %}{% endfor %}],
    "storage-driver": "{{ docker_storage_driver }}",
    "default-runtime": "{{ docker_default_runtime }}"
}
