---
title: "Operations dashboard"
subtitle: OSISM
logo: "osism.png"

header: true
footer: false

# Optional theme customization
theme: default
colors:
  light:
    highlight-primary: "#ffffff"
    highlight-secondary: "#fd7e14"
    highlight-hover: "#a0292a"
    background: "#f5f5f5"
    card-background: "#ffffff"
    text: "#363636"
    text-header: "#000000"
    text-title: "#303030"
    text-subtitle: "#424242"
    card-shadow: rgba(0, 0, 0, 0.1)
    link-hover: "#363636"
  dark:
    highlight-primary: "#a0292a"
    highlight-secondary: "#fd7e14"
    highlight-hover: "#a0292a"
    background: "#131313"
    card-background: "#2b2b2b"
    text: "#eaeaea"
    text-header: "#ffffff"
    text-title: "#fafafa"
    text-subtitle: "#f5f5f5"
    card-shadow: rgba(0, 0, 0, 0.4)
    link-hover: "#ffdd57"

links:
  - name: "Contribute"
    icon: "fab fa-github"
    url: "https://github.com/osism"
    target: "_blank" # optional html a tag target attribute
  - name: "Documentation"
    icon: "fas fa-book"
    url: "https://docs.osism.tech/"
  - name: "Bug report"
    icon: "fas fa-bug"
    url: "https://github.com/osism/issues"

# Services
services:
  - name: "Deployment"
    icon: "fas fa-wrench"
    items:
      - name: "ARA Records Ansible"
        logo: "ara.png"
        subtitle: "Ansible logs"
        tag: "dashboard"
        url: "{{ homer_url_ara }}"
        target: "_blank"
      - name: "NetBox"
        logo: "netbox.png"
        subtitle: "Infrastructure Resource Modeling (IRM)"
        tag: "dashboard"
        url: "{{ homer_url_netbox }}"
        target: "_blank"
  - name: "Operations"
    icon: "fas fa-toolbox"
    items:
      - name: "Ceph"
        logo: "ceph.png"
        subtitle: "Ceph dashboard"
        tag: "dashboard"
        url: "{{ homer_url_ceph }}"
        target: "_blank"
      - name: "Flower"
        logo: "flower.png"
        subtitle: "Distributed Task Queue"
        tag: "dashboard"
        url: "{{ homer_url_flower }}"
        target: "_blank"
      - name: "Keycloak"
        logo: "keycloak.png"
        subtitle: "Identity and Access Management (IAM)"
        tag: "dashboard"
        url: "{{ homer_url_keycloak }}"
        target: "_blank"
      - name: "phpMyAdmin"
        logo: "phpmyadmin.png"
        subtitle: "Administration of MariaDB"
        tag: "dashboard"
        url: "{{ homer_url_phpmyadmin }}"
        target: "_blank"
      - name: "RabbitMQ"
        logo: "rabbitmq.png"
        subtitle: "Administration of RabbitMQ"
        tag: "dashboard"
        url: "{{ homer_url_rabbitmq }}"
        target: "_blank"
  - name: "Insights"
    icon: "fas fa-warehouse"
    items:
      - name: "Grafana"
        logo: "grafana.png"
        subtitle: "Observability platform"
        tag: "dashboard"
        url: "{{ homer_url_grafana }}"
        target: "_blank"
      - name: "Kibana"
        logo: "kibana.png"
        subtitle: "Visualized logs"
        tag: "dashboard"
        url: "{{ homer_url_kibana }}"
        target: "_blank"
      - name: "Netdata"
        logo: "netdata.png"
        subtitle: "Realtime monitoring"
        tag: "dashboard"
        url: "{{ homer_url_netdata }}"
        target: "_blank"
      - name: "Patchman"
        icon: "fas fa-boxes"
        subtitle: "Linux Patch Status Monitoring System"
        tag: "dashboard"
        url: "{{ homer_url_patchman }}"
      - name: "Prometheus"
        logo: "prometheus.png"
        subtitle: "Monitoring system & timer series database"
        tag: "dashboard"
        url: "{{ homer_url_prometheus }}"
  - name: "User interfaces"
    icon: "fas fa-user"
    items:
      - name: "Horizon"
        logo: "openstack.png"
        subtitle: "OpenStack dashboard"
        tag: "dashboard"
        url: "{{ homer_url_horizon }}"
        target: "_blank"
