---
title: "Operations dashboard"
subtitle: OSISM
logo: "osism.png"

header: true
footer: false

# Optional theme customization
theme: default
colors:
  light:
    highlight-primary: "#ffffff"
    highlight-secondary: "#fd7e14"
    highlight-hover: "#a0292a"
    background: "#f5f5f5"
    card-background: "#ffffff"
    text: "#363636"
    text-header: "#000000"
    text-title: "#303030"
    text-subtitle: "#424242"
    card-shadow: rgba(0, 0, 0, 0.1)
    link-hover: "#363636"
  dark:
    highlight-primary: "#1b2024"
    highlight-secondary: "#fd7e14"
    highlight-hover: "#e9c544"
    background: "#1b2024"
    card-background: "#49535b"
    text: "#ebeef2"
    text-header: "#ffffff"
    text-title: "#ebeef2"
    text-subtitle: "#d1d6dc"
    card-shadow: rgba(0, 0, 0, 0.4)
    link-hover: "#e9c544"

links:
  - name: "Contribute"
    icon: "fab fa-github"
    url: "https://github.com/osism"
    target: "_blank"
  - name: "Documentation"
    icon: "fas fa-book"
    url: "https://osism.github.io/docs/intro/"
    target: "_blank"
  - name: "Bug report"
    icon: "fas fa-bug"
    url: "https://github.com/osism/issues/issues"
    target: "_blank"

# Services
{% if homer_url_ara|length > 0 or homer_url_flower|length > 0 or homer_url_netbox|length > 0 or homer_url_vault|length > 0 %}
services:
  - name: "Deployment"
    icon: "fas fa-wrench"
    items:
{%   if homer_url_ara|length > 0 %}
      - name: "ARA Records Ansible"
        logo: "ara.png"
        subtitle: "Ansible logs"
        tag: "dashboard"
        url: "{{ homer_url_ara }}"
        target: "_blank"
{%   endif %}
{%   if homer_url_flower|length > 0 %}
      - name: "Flower"
        logo: "flower.png"
        subtitle: "Distributed Task Queue"
        tag: "dashboard"
        url: "{{ homer_url_flower }}"
        target: "_blank"
{%   endif %}
{%   if homer_url_netbox|length > 0 %}
      - name: "NetBox"
        logo: "netbox.png"
        subtitle: "Infrastructure Resource Modeling (IRM)"
        tag: "dashboard"
        url: "{{ homer_url_netbox }}"
        target: "_blank"
{%   endif %}
{%   if homer_url_vault|length > 0 %}
      - name: "Vault"
        logo: "vault.png"
        subtitle: "Tool for secrets management"
        tag: "dashboard"
        url: "{{ homer_url_vault }}"
        target: "_blank"
{%   endif %}
{% endif %}
{% if homer_url_ceph|length > 0 or homer_url_keycloak|length > 0 or homer_url_phpmyadmin|length > 0 or homer_url_rabbitmq|length > 0 %}
  - name: "Operations"
    icon: "fas fa-toolbox"
    items:
{%   if homer_url_ceph|length > 0 %}
      - name: "Ceph"
        logo: "ceph.png"
        subtitle: "Ceph dashboard"
        tag: "dashboard"
        url: "{{ homer_url_ceph }}"
        target: "_blank"
{%   endif %}
{%   if homer_url_keycloak|length > 0 %}
      - name: "Keycloak"
        logo: "keycloak.png"
        subtitle: "Identity and Access Management (IAM)"
        tag: "dashboard"
        url: "{{ homer_url_keycloak }}"
        target: "_blank"
{%   endif %}
{%   if homer_url_phpmyadmin|length > 0 %}
      - name: "phpMyAdmin"
        logo: "phpmyadmin.png"
        subtitle: "Administration of MariaDB"
        tag: "dashboard"
        url: "{{ homer_url_phpmyadmin }}"
        target: "_blank"
{%   endif %}
{%   if homer_url_rabbitmq|length > 0 %}
      - name: "RabbitMQ"
        logo: "rabbitmq.png"
        subtitle: "Administration of RabbitMQ"
        tag: "dashboard"
        url: "{{ homer_url_rabbitmq }}"
        target: "_blank"
{%   endif %}
{% endif %}
{% if homer_url_grafana|length > 0 or homer_url_opensearch_dashboards|length > 0 or homer_url_netdata|length > 0 or homer_url_prometheus|length > 0 %}
  - name: "Insights"
    icon: "fas fa-warehouse"
    items:
{%   if homer_url_grafana|length > 0 %}
      - name: "Grafana"
        logo: "grafana.png"
        subtitle: "Observability platform"
        tag: "dashboard"
        url: "{{ homer_url_grafana }}"
        target: "_blank"
{%   endif %}
{%   if homer_url_opensearch_dashboards|length > 0 %}
      - name: "OpenSearch Dashboards"
        logo: "opensearch.png"
        subtitle: "Visualized logs"
        tag: "dashboard"
        url: "{{ homer_url_opensearch_dashboards }}"
        target: "_blank"
{%   endif %}
{%   if homer_url_netdata|length > 0 %}
      - name: "Netdata"
        logo: "netdata.png"
        subtitle: "Realtime monitoring"
        tag: "dashboard"
        url: "{{ homer_url_netdata }}"
        target: "_blank"
{%   endif %}
{%   if homer_url_prometheus|length > 0 %}
      - name: "Prometheus"
        logo: "prometheus.png"
        subtitle: "Monitoring system & timer series database"
        tag: "dashboard"
        url: "{{ homer_url_prometheus }}"
        target: "_blank"
{%   endif %}
{% endif %}
{% if homer_url_horizon|length > 0 %}
  - name: "User interfaces"
    icon: "fas fa-user"
    items:
      - name: "Horizon"
        logo: "openstack.png"
        subtitle: "OpenStack dashboard"
        tag: "dashboard"
        url: "{{ homer_url_horizon }}"
        target: "_blank"
{% endif %}
