---
title: "Operations dashboard"
subtitle: OSISM
logo: "osism.png"

header: true
footer: false

theme: default
colors:
  light:
    highlight-primary: "#ffffff"
    highlight-secondary: "#fd7e14"
    highlight-hover: "#a0292a"
    background: "#f5f5f5"
    card-background: "#ffffff"
    text: "#363636"
    text-header: "#000000"
    text-title: "#303030"
    text-subtitle: "#424242"
    card-shadow: rgba(0, 0, 0, 0.1)
    link-hover: "#363636"
  dark:
    highlight-primary: "#1b2024"
    highlight-secondary: "#fd7e14"
    highlight-hover: "#e9c544"
    background: "#1b2024"
    card-background: "#49535b"
    text: "#ebeef2"
    text-header: "#ffffff"
    text-title: "#ebeef2"
    text-subtitle: "#d1d6dc"
    card-shadow: rgba(0, 0, 0, 0.4)
    link-hover: "#e9c544"

links:
  - name: "Contribute"
    icon: "fab fa-github"
    url: "https://github.com/osism"
    target: "_blank"
  - name: "Documentation"
    icon: "fas fa-book"
    url: "https://docs.osism.tech/"
    target: "_blank"
  - name: "Bug report"
    icon: "fas fa-bug"
    url: "https://github.com/osism/issues"
    target: "_blank"

services:
  - name: "Manager"
    icon: "fas fa-wrench"
    items:
{% for service in homer_services_manager %}
{% if homer_urls[service]|default(None) %}
{% set service_definition = home_services_manager[service] %}
      - name: "{{ service_definition['name']|default('') }}"
        logo: "{{ service_definition['logo']|default('') }}"
        subtitle: "{{ service_definition['subtitle']|default('') }}"
        tag: "{{ service_definition['tag']|default('') }}"
        url: "{{ homer_urls[service] }}"
        target: {{ service_definition['target']|default('') }}
{% endif %}
{% endfor %}

  - name: "Control"
    icon: "fas fa-toolbox"
    items:
{% for service in homer_services_control %}
{% if homer_urls[service]|default(None) %}
{% set service_definition = home_services_control[service] %}
      - name: "{{ service_definition['name']|default('') }}"
        logo: "{{ service_definition['logo']|default('') }}"
        subtitle: "{{ service_definition['subtitle']|default('') }}"
        tag: "{{ service_definition['tag']|default('') }}"
        url: "{{ homer_urls[service] }}"
        target: {{ service_definition['target']|default('') }}
{% endif %}
{% endfor %}

  - name: "Monitoring & Insights"
    icon: "fas fa-warehouse"
    items:
{% for service in homer_services_monitoring %}
{% if homer_urls[service]|default(None) %}
{% set service_definition = home_services_monitoring[service] %}
      - name: "{{ service_definition['name']|default('') }}"
        logo: "{{ service_definition['logo']|default('') }}"
        subtitle: "{{ service_definition['subtitle']|default('') }}"
        tag: "{{ service_definition['tag']|default('') }}"
        url: "{{ homer_urls[service] }}"
        target: {{ service_definition['target']|default('') }}
{% endif %}
{% endfor %}

  - name: "Other"
    icon: "fas fa-user"
    items:
{% for service in homer_services_other %}
{% if homer_urls[service]|default(None) %}
{% set service_definition = home_services_other[service] %}
      - name: "{{ service_definition['name']|default('') }}"
        logo: "{{ service_definition['logo']|default('') }}"
        subtitle: "{{ service_definition['subtitle']|default('') }}"
        tag: "{{ service_definition['tag']|default('') }}"
        url: "{{ homer_urls[service] }}"
        target: {{ service_definition['target']|default('') }}
{% endif %}
{% endfor %}
