---
services:
  homer:
    container_name: "{{ homer_container_name }}"
    restart: unless-stopped
    image: "{{ homer_image }}"
{% if not homer_traefik|bool %}
    ports:
      - "{{ homer_host }}:{{ homer_port }}:8080"
{% endif %}
    volumes:
      - "{{ homer_configuration_directory }}/config.yml:/www/assets/config.yml:ro"
{% if homer_traefik|bool %}
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network={{ traefik_external_network_name }}"
      - "traefik.http.middlewares.homer-redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.middlewares.homer-redirect-to-https.redirectscheme.permanent=true"
      - "traefik.http.routers.homer.entrypoints=http"
      - "traefik.http.routers.homer.rule=Host(`{{ homer_host }}`)"
      - "traefik.http.routers.homer.middlewares=homer-redirect-to-https@docker"
      - "traefik.http.routers.homer-secure.entrypoints=https"
      - "traefik.http.routers.homer-secure.tls=true"
      - "traefik.http.routers.homer-secure.rule=Host(`{{ homer_host }}`)"
      - "traefik.http.services.homer-secure.loadbalancer.server.port=8080"
    networks:
      - default
      - {{ traefik_external_network_name }}
{% endif %}

networks:
  default:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: {{ docker_network_mtu }}
    ipam:
      driver: default
      config:
        - subnet: {{ homer_network }}
{% if homer_traefik|bool %}
  {{ traefik_external_network_name }}:
    external: true
{% endif %}
