---
services:
  homer:
    container_name: "{{ homer_container_name }}"
    restart: unless-stopped
    image: "{{ homer_image }}"
    ports:
      - "{{ homer_host }}:{{ homer_port }}:8080"
    volumes:
      - "{{ homer_configuration_directory }}/config.yml:/www/assets/config.yml:ro"

networks:
 default:
   driver: bridge
   ipam:
     driver: default
     config:
       - subnet: {{ homer_network }}
