---
version: '3'

services:
  homer:
    container_name: "{{ homer_container_name }}"
    restart: unless-stopped
    image: "{{ homer_image }}"
    ports:
      - "{{ homer_host }}:{{ homer_port }}:8080"
    volumes:
      - "{{ homer_configuration_directory }}/config.yml:/www/assets/config.yml:ro"

networks:
  default:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: {{ docker_network_mtu }}
    ipam:
      driver: default
      config:
        - subnet: {{ homer_network }}
