---
services:
  virtualbmc:
    image: "{{ virtualbmc_image }}"
    restart: unless-stopped
    entrypoint: vbmcd --foreground
    ports:
      - "{{ virtualbmc_host }}:{{ virtualbmc_port }}:6230-6239/udp"
    volumes:
      - nova_libvirt_run:/var/run/libvirt

volumes:
  nova_libvirt_run:
    external: true

networks:
 default:
   driver: bridge
   ipam:
     driver: default
     config:
       - subnet:  {{ virtualbmc_network }}
