---
services:
  virtualbmc:
    image: "{{ virtualbmc_image }}"
    container_name: "{{ virtualbmc_container_name }}"
    restart: unless-stopped
    entrypoint: vbmcd --foreground
    ports:
      - "{{ virtualbmc_host }}:{{ virtualbmc_port }}:6230-6239/udp"
    volumes:
      - "{{ nova_libvirt_container_volume }}:/var/run/libvirt"

volumes:
  nova_libvirt_run:
    external: true

networks:
  default:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: {{ docker_network_mtu }}
    ipam:
      driver: default
      config:
        - subnet:  {{ virtualbmc_network }}
