---
- name: Install rng package
  become: true
  ansible.builtin.apt:
    name: "{{ rng_package_name }}"
    state: present
    lock_timeout: "{{ apt_lock_timeout | default(300) }}"

- name: Remove haveged package
  become: true
  ansible.builtin.apt:
    name: haveged
    state: absent
    lock_timeout: "{{ apt_lock_timeout | default(300) }}"
