---
- name: Include distribution specific install tasks
  ansible.builtin.include_tasks: "install-{{ ansible_os_family }}.yml"

- name: Start/enable rng service
  become: true
  ansible.builtin.service:
    name: rngd
    state: started
    enabled: true
