---
apiVersion: ceph.rook.io/v1
kind: CephFilesystem
metadata:
  name: {{ rook_cephfilesystem_default_name }}
  namespace: {{ rook_namespace }}
# https://rook.io/docs/rook/latest-release/CRDs/Shared-Filesystem/ceph-filesystem-crd/
spec:
  # The metadata pool spec. Must use replication.
  metadataPool:
    replicated:
      size: {{ rook_cephfilesystem_default_size }}
      requireSafeReplicaSize: true
    parameters:
      # Inline compression mode for the data pool
      # Further reference: https://docs.ceph.com/docs/master/rados/configuration/bluestore-config-ref/#inline-compression
      compression_mode: {{ rook_cephfilesystem_default_metadatapool_parameters_compression_mode }}
        # gives a hint (%) to Ceph in terms of expected consumption of the total cluster capacity of a given pool
      # for more info: https://docs.ceph.com/docs/master/rados/operations/placement-groups/#specifying-expected-pool-size
      #target_size_ratio: ".5"
  # The list of data pool specs. Can use replication or erasure coding.
  dataPools:
    - name: replicated
      failureDomain: host
      replicated:
        size: {{ rook_cephfilesystem_default_size }}
        # Disallow setting pool with replica 1, this could lead to data loss without recovery.
        # Make sure you're *ABSOLUTELY CERTAIN* that is what you want
        requireSafeReplicaSize: true
      parameters:
        # Inline compression mode for the data pool
        # Further reference: https://docs.ceph.com/docs/master/rados/configuration/bluestore-config-ref/#inline-compression
        compression_mode: {{ rook_cephfilesystem_default_datapool_parameters_compression_mode }}
          # gives a hint (%) to Ceph in terms of expected consumption of the total cluster capacity of a given pool
        # for more info: https://docs.ceph.com/docs/master/rados/operations/placement-groups/#specifying-expected-pool-size
        #target_size_ratio: ".5"
  metadataServer:
    activeCount: {{ rook_mds_count }}
    activeStandby: true
