{% for client_name, client_spec in rook_ceph_cluster_clients.items() %}
---
apiVersion: ceph.rook.io/v1
kind: CephClient
metadata:
  name: {{ client_name }}
  namespace: {{ rook_ceph_cluster_helm_release_namespace }}
spec:
  caps:
    {% for cap, value in client_spec.caps.items() %}
    {{ cap }}: "{{ value }}"
    {% endfor %}

{% endfor %}
