---
apiVersion: v1
kind: Service
metadata:
  name: "{{ rook_ceph_cluster_helm_release_namespace }}-loadbalancer-dashboard"
  namespace: "{{ rook_ceph_cluster_helm_release_namespace }}"
  labels:
    app: rook-ceph-mgr
    rook_cluster: "{{ rook_ceph_cluster_helm_release_namespace }}"
spec:
  ports:
    - name: dashboard
      port: {{ rook_loadbalancer_dashboard_port }}
      protocol: TCP
      targetPort: {{ rook_loadbalancer_dashboard_target_port }}
  selector:
    app: rook-ceph-mgr
    rook_cluster: "{{ rook_ceph_cluster_helm_release_namespace }}"
    mgr_role: active
  sessionAffinity: None
  type: LoadBalancer
