---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ rook_cephobjectstore_keystone_serviceUserSecretName }}"
  namespace: "{{ rook_ceph_cluster_helm_release_namespace }}"
data:
  OS_AUTH_TYPE: "{{ rook_cephobjectstore_keystone_auth_type | b64encode }}"
  OS_IDENTITY_API_VERSION: "{{ rook_cephobjectstore_keystone_identity_api_version | b64encode }}"
  OS_PASSWORD: "{{ rook_cephobjectstore_keystone_password | b64encode }}"
  OS_PROJECT_DOMAIN_NAME: "{{ rook_cephobjectstore_keystone_project_domain_name | b64encode }}"
  OS_PROJECT_NAME: "{{ rook_cephobjectstore_keystone_project_name | b64encode }}"
  OS_USER_DOMAIN_NAME: "{{ rook_cephobjectstore_keystone_user_domain_name | b64encode }}"
  OS_USERNAME: "{{ rook_cephobjectstore_keystone_username | b64encode }}"
type: Opaque
