---
- name: Restart auditd service
  become: true
  ansible.builtin.service:
    name: "{{ auditd_service_name }}"
    state: restarted

- name: Generate auditd rules
  become: true
  ansible.builtin.command: augenrules --load
  notify: Restart auditd service
  changed_when: true
