domainname: {{ openldap_domain_name }}
hostname: primary
ldap/base: {{ openldap_base_dn }}
ldap/hostdn: cn=admin,{{ openldap_base_dn }}
ldap/master: {{ openldap_host }}
ldap/master/port: {{ openldap_ldap_port }}
ldap/server/name: {{ openldap_host }}
ldap/server/port: {{ openldap_ldap_port }}
locale: de_DE.UTF-8:UTF-8 en_US.UTF-8:UTF-8
locale/default: de_DE.UTF-8:UTF-8
server/role: domaincontroller_master
ucr/backup/enabled: yes
ucr/encoding/strict: true
ucs/server/languages/de_DE: Deutsch
ucs/server/languages/en_US: English
ucs/server/robots/disallow: /
ucs/server/saml-idp-server/primary.example.org: primary.example.org
ucs/server/sso/fqdn: ucs-sso.example.org
umc/http/autostart: yes
umc/http/dispatch-interval: 100
umc/http/interface: 0.0.0.0
umc/http/max-open-file-descriptors: 65535
umc/http/max_request_body_size: 104857600
umc/http/maxthreads: 35
umc/http/port: 8090
umc/http/processes: 1
umc/http/requestqueuesize: 100
umc/http/response-timeout: 310
umc/http/session/timeout: 28800
umc/http/show_tracebacks: true
umc/logout/location: /univention/
umc/saml/idp-server: https://ucs-sso.example.org/simplesamlphp/saml2/idp/metadata.php
umc/saml/sp-server: primary.example.org
umc/saml/trusted/sp/primary.example.org: primary.example.org
umc/server/autostart: yes
umc/server/debug/level: 99
umc/server/upload/max: 2048
umc/server/upload/min_free_space: 51200
umc/web/language: de_DE.UTF-8:UTF-8
