---
- name: Copy rundeck environment files
  ansible.builtin.template:
    src: "env/{{ item }}.env.j2"
    dest: "{{ rundeck_configuration_directory }}/{{ item }}.env"
    mode: 0640
    owner: "{{ operator_user }}"
    group: "{{ operator_group }}"
  loop:
    - rundeck
