---
- name: Restart cephclient service
  become: true
  ansible.builtin.service:
    name: "{{ cephclient_service_name }}"
    state: restarted
  register: result
  until: result.status.ActiveState == "active"
  retries: 10
  delay: 20
  notify:
    - Ensure that all containers are up

- name: Ensure that all containers are up
  ansible.builtin.command:
    cmd: docker compose --project-directory /opt/cephclient up -d
  changed_when: true
  notify:
    - Wait for an healthy service

# NOTE: The command returns a list of IDs of containers from the service
#       that are currently starting or unhealthy. As long as the list is not empty
#       the service is not in a good state.
- name: Wait for an healthy service
  ansible.builtin.shell: |
    set -o pipefail
    docker compose --project-directory /opt/cephclient \
        ps --all --format json | \
        jq '. | select(.State=="created" or .State=="exited" or .Health=="starting" or .Health=="unhealthy") | .Name'
  args:
    executable: /bin/bash
  register: result
  until: "result.stdout | length == 0"
  retries: 20
  delay: 10
  changed_when: true
  notify:
    - Copy bash completion scripts

- name: Copy bash completion scripts
  become: true
  ansible.builtin.command: "docker cp {{ cephclient_container_name }}:/etc/bash_completion.d/{{ item }} /etc/bash_completion.d/{{ item }}"
  register: result
  changed_when: false
  failed_when: result.rc != 0
  loop:
    - ceph
    - rados
    - radosgw-admin
    - rbd
