---
##########################
# operator

operator_user: dragon
operator_group: "{{ operator_user }}"

##########################
# docker

docker_network_mtu: 1500

docker_registry_virtualbmc: quay.io

##########################
# virtualbmc

virtualbmc_container_name: virtualbmc

virtualbmc_configuration_directory: /opt/virtualbmc/configuration
virtualbmc_docker_compose_directory: /opt/virtualbmc

virtualbmc_network: 172.31.101.128/28
virtualbmc_service_name: "docker-compose@virtualbmc"
nova_libvirt_container_volume: nova_libvirt_run

virtualbmc_host: 127.0.0.1
virtualbmc_port: 6230-6239

# renovate: datasource=docker depName=quay.io/osism/virtualbmc
virtualbmc_tag: '3.1.0'
virtualbmc_image: "{{ docker_registry_virtualbmc }}/osism/virtualbmc:{{ virtualbmc_tag }}"
