cluster_addr      = "http://{{ vault_cluster_host }}:{{ vault_cluster_cluster_port }}"
api_addr          = "http://{{ vault_cluster_host }}:{{ vault_cluster_port }}"
default_lease_ttl = "{{ vault_cluster_default_lease_ttl }}"
max_lease_ttl     = "{{ vault_cluster_max_lease_ttl }}"
disable_mlock     = "true"
ui                = "{{ vault_cluster_enable_ui }}"

storage "raft" {
  path    = "/vault/raft"
  node_id = "node-{{ vault_cluster_host }}"

{% for node in groups[group_names[0]] %}
  retry_join { leader_api_addr = "http://{{ node }}:{{ vault_cluster_port }}" }
{% endfor %}
}

listener "tcp" {
  address     = "0.0.0.0:{{ vault_cluster_port }}"
  tls_disable = "{{ vault_cluster_tls_disable }}"
}

seal "transit" {
  address         = "http://{{ vault_unsealer_host }}:{{ vault_unsealer_port }}"
  disable_renewal = "false"
  key_name        = "{{ vault_unsealer_policy_name }}"
  mount_path      = "transit/"
  tls_skip_verify = "{{ vault_unsealer_tls_disabled }}"
}
