CORS_ORIGIN_ALLOW_ALL=True
LOGIN_REQUIRED=True
METRICS_ENABLED=True
SKIP_STARTUP_SCRIPTS=True
WEBHOOKS_ENABLED=True

MEDIA_ROOT=/opt/netbox/netbox/media

SUPERUSER_NAME={{ netbox_superuser_name }}
SUPERUSER_EMAIL={{ netbox_superuser_email }}
SUPERUSER_PASSWORD={{ netbox_superuser_password }}
SUPERUSER_API_TOKEN={{ netbox_superuser_api_token }}

# RELEASE_CHECK_URL=https://api.github.com/repos/netbox-community/netbox/releases
