---
- name: Create traefik external network
  community.docker.docker_network:
    name: "{{ traefik_external_network_name }}"
    ipam_config:
      - subnet: "{{ traefik_external_network_cidr }}"
  when: phpmyadmin_traefik|bool

- name: Create required directories
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ operator_user }}"
    group: "{{ operator_group }}"
    mode: 0755
  with_items:
    - "{{ phpmyadmin_docker_compose_directory }}"

- name: Copy docker-compose.yml file
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: "{{ phpmyadmin_docker_compose_directory }}/docker-compose.yml"
    owner: "{{ operator_user }}"
    group: "{{ operator_group }}"
    mode: 0640
  notify: Restart phpmyadmin service

- name: Start/enable phpmyadmin service
  become: true
  ansible.builtin.service:
    name: "{{ phpmyadmin_service_name }}"
    state: started
    enabled: true
