router id {{ bird_router_id | default(ansible_default_ipv4.address | default(ansible_all_ipv4_addresses[0])) }};

filter export_internal_address {

  if net ~ [ {{ bird_cidr }}+ ] then {
    accept;
  }
  reject;

}

filter accept_all {

  accept;

}

filter reject_all {

  reject;

}

protocol device {
}

protocol direct {

  interface "lo";

}

protocol kernel {

  metric 0;
  learn;
  import filter reject_all; # none
  export filter accept_all; # all
  merge paths on;

}

{% for item in bird_leaf_interfaces %}

protocol bgp leaf{{ loop.index }} {

  local as {{ bird_local_as | default(65100) }};
  neighbor {{ hostvars[inventory_hostname]['ansible_' + item]['ipv4']['address'] | ipmath(-1) }} as {{ bird_neighbor_as | default(65000) }};
  import filter accept_all;
  export filter export_internal_address;
  hold time {{ bird_leaf_hold_time }};
  keepalive time {{ bird_keepalive_time }};
  bfd {{ bird_leaf_bfd }};

}

{% endfor %}

protocol bfd {

{% for item in bird_leaf_interfaces %}

  interface "{{ item }}" {
    min rx interval {{ bird_bfd_min_rx_interval }} ms;
    min tx interval {{ bird_bfd_min_tx_interval }} ms;
    idle tx interval {{ bird_bfd_idle_tx_interval }} ms;
    multiplier {{ bird_bfd_multiplier }};
  };

{% endfor %}

}
