frr version {{ frr_version }}
frr defaults traditional
hostname {{ inventory_hostname_short }}
log syslog informational
service integrated-vtysh-config
!
router bgp {{ frr_local_as }}
 no bgp ebgp-requires-policy
 bgp bestpath as-path multipath-relax
 bgp router-id {{ frr_loopback_v4 }}
{% for item in _frr_uplinks %}
 neighbor {{ item.address }} remote-as {{ item.remote_as }}
 neighbor {{ item.address }} update-source {{ item.interface }}
 neighbor {{ item.address }} soft-reconfiguration inbound
{% endfor %}
 !
 address-family ipv4 unicast
{% for item in _frr_uplinks %}
  neighbor {{ item.address }} next-hop
{% endfor %}
 exit-address-family
 !
 address-family ipv6 unicast
 exit-address-family
exit
