frr version {{ frr_version }}
frr defaults traditional
hostname {{ frr_hostname }}
log syslog informational
service integrated-vtysh-config
!
router bgp {{ frr_local_as }}
 no bgp ebgp-requires-policy
 bgp bestpath as-path multipath-relax
 bgp router-id {{ frr_loopback_v4 }}
{% for item in _frr_uplinks %}
 neighbor {{ item.interface }} interface remote-as {{ item.remote_as }}
{% if "password" in item %}
 neighbor {{ item.interface }} password {{ item.password }}
{% endif %}
{% endfor %}
 !
 address-family ipv4 unicast
  redistribute connected route-map bgp_out
{% for item in _frr_uplinks %}
{% if "local_pref" in item %}
  neighbor {{ item.interface }} route-map local-pref-{{ item.local_pref }} in
{% endif %}
  neighbor {{ item.interface }} route-map bgp_out out
{% endfor %}
  maximum-paths 2
 exit-address-family
 !
 address-family ipv6 unicast
  redistribute connected route-map bgp_out
{% for item in _frr_uplinks %}
  neighbor {{ item.interface }} activate
{% if "local_pref" in item %}
  neighbor {{ item.interface }} route-map local-pref-{{ item.local_pref }} in
{% endif %}
  neighbor {{ item.interface }} route-map bgp_out out
{% endfor %}
 exit-address-family
exit
!
route-map bgp_out permit 10
 match interface {{ frr_loopback_interface }}
exit
!
{% for _frr_extra_interface in frr_extra_interfaces %}
route-map bgp_out permit {{ (loop.index + 1) * 10 }}
 match interface {{ _frr_extra_interface }}
exit
!
{% endfor %}
route-map RM_SET_SRC4 permit 10
 set src {{ frr_loopback_v4 }}
exit
!
route-map RM_SET_SRC6 permit 10
 set src {{ frr_loopback_v6 }}
exit
!
{% for item in frr_local_pref %}
route-map local-pref-{{ item }} permit 10
  set local-preference {{ item }}
exit
!
{% endfor %}
ip protocol bgp route-map RM_SET_SRC4
!
ipv6 protocol bgp route-map RM_SET_SRC6
!
{% for vrrp_group in frr_vrrp_groups %}
interface {{ vrrp_group.interface }}
 vrrp {{ vrrp_group.id }} version 3

 vrrp {{ vrrp_group.id }} priority {{ vrrp_group.priority | default(100) }}
{% if vrrp_group.preempt | default(true) | bool == false %}
 no vrrp {{ vrrp_group.id }} preempt
{% endif %}
{% for ip in vrrp_group.ipv4 | default([]) %}
 vrrp {{ vrrp_group.id }} ip {{ ip }}
{% endfor %}
{% for ip in vrrp_group.ipv6 | default([]) %}
 vrrp {{ vrrp_group.id }} ipv6 {{ ip }}
{% endfor %}
exit
!
{% endfor %}
