frr version 8.1
frr defaults traditional
hostname {{ inventory_hostname_short }}
log syslog informational
service integrated-vtysh-config
!
router bgp {{ frr_local_as }}
 bgp router-id {{ frr_loopback_v4 }}
 no bgp ebgp-requires-policy
 bgp bestpath as-path multipath-relax
{% for item in frr_neigh_v4 %}
 neighbor {{ item.address }} remote-as {{ item.remote_as }}
{% endfor %}
{% for item in frr_neigh_v6 %}
 neighbor {{ item.address }} remote-as {{ item.remote_as }}
{% endfor %}
 !
 address-family ipv4 unicast
  redistribute connected
{% for item in frr_neigh_v4 %}
  neighbor {{ item.address }} route-map {{ item.route_map }} out
{% endfor %}
{% for item in frr_neigh_v6 %}
  no neighbor {{ item.address }} activate
{% endfor %}
  maximum-paths 2
 exit-address-family
 !
 address-family ipv6 unicast
  redistribute connected
{% for item in frr_neigh_v6 %}
  neighbor {{ item.address }} activate
  neighbor {{ item.address }} route-map {{ item.route_map }} out
{% endfor %}
 exit-address-family
exit
!
ip prefix-list internal seq 5 permit {{ frr_internal_v4 }} ge 32 le 32
{% for item in frr_internalbackup_v4 %}
ip prefix-list internalbackup seq {{ item.seq }} permit {{ item.cidr }} ge 32 le 32
{% endfor %}
ip prefix-list external seq 5 permit {{ frr_external_v4 }} ge 32 le 32
{% for item in frr_externalbackup_v4 %}
ip prefix-list externalbackup seq {{ item.seq }} permit {{ item.cidr }} ge 32 le 32
{% endfor %}
!
ipv6 prefix-list internal permit {{ frr_internal_v6 }} ge 128 le 128
{% for item in frr_internalbackup_v6 %}
ipv6 prefix-list internalbackup seq {{ item.seq }} permit {{ item.cidr }} ge 128 le 128
{% endfor %}
ipv6 prefix-list external permit {{ frr_external_v6 }} ge 128 le 128
{% for item in frr_externalbackup_v6 %}
ipv6 prefix-list externalbackup seq {{ item.seq }} permit {{ item.cidr }} ge 128 le 128
{% endfor %}
!
route-map bgp_out permit 10
 match interface dummy0
 match ip address prefix-list internalbackup
 set metric 1
exit
!
route-map bgp_out permit 20
 match interface dummy0
 match ipv6 address prefix-list internalbackup
 set metric 1
exit
!
route-map bgp_out permit 30
 match interface {{ frr_dummy_interface }}
 match ip address prefix-list internal
exit
!
route-map bgp_out permit 40
 match interface {{ frr_dummy_interface }}
 match ipv6 address prefix-list internal
exit
!
route-map uplink_out permit 10
 match interface dummy0
 match ip address prefix-list externalbackup
 set metric 1
exit
!
route-map uplink_out permit 20
 match interface dummy0
 match ipv6 address prefix-list externalbackup
 set metric 1
exit
!
route-map uplink_out permit 30
 match interface dummy0
 match ip address prefix-list external
exit
!
route-map uplink_out permit 40
 match interface dummy0
 match ipv6 address prefix-list external
exit
!
route-map RM_SET_SRC4 permit 10
 match ip address prefix-list internal
 set src {{ frr_loopback_v4 }}
exit
!
route-map RM_SET_SRC4 permit 20
exit
!
route-map RM_SET_SRC6 permit 10
 match ipv6 address prefix-list internal
 set src {{ frr_loopback_v6 }}
exit
!
route-map RM_SET_SRC6 permit 20
exit
!
ip protocol bgp route-map RM_SET_SRC4
!
ipv6 protocol bgp route-map RM_SET_SRC6
