frr version {{ frr_version }}
frr defaults traditional
hostname {{ frr_hostname }}
log syslog informational
service integrated-vtysh-config
!
router bgp {{ frr_local_as }}
 bgp router-id {{ frr_loopback_v4 }}
 bgp log-neighbor-changes
 bgp bestpath as-path multipath-relax
 no bgp ebgp-requires-policy
{% for item in frr_uplinks_system %}
  neighbor {{ item.interface }} interface remote-as {{ item.remote_as }}
{% endfor %}
{% for item in frr_uplinks_external %}
  neighbor {{ item.interface }} interface remote-as {{ item.remote_as }}
{% endfor %}
 !
 address-family ipv4 unicast
  redistribute connected
{% for item in frr_uplinks_system %}
  neighbor {{ item.interface }} route-map RM_SYSTEM_OUT out
{% endfor %}
{% for item in frr_uplinks_external %}
  neighbor {{ item.interface }} route-map RM_EXTERNAL_OUT out
{% endfor %}
  maximum-paths 4

 exit-address-family
 !
 address-family ipv6 unicast
  redistribute connected
{% for item in frr_uplinks_system %}
  neighbor {{ item.interface }} activate
  neighbor {{ item.interface }} route-map RM_SYSTEM_OUT out
{% endfor %}
{% for item in frr_uplinks_external %}
  neighbor {{ item.interface }} activate
  neighbor {{ item.interface }} route-map RM_EXTERNAL_OUT out
{% endfor %}
 exit-address-family

!
ip prefix-list system seq 10 permit {{ frr_su_system_net_v4 }} le 32
ip prefix-list external seq 10 permit {{ frr_su_external_net_v4 }} le 32
ip prefix-list external seq 20 permit 0.0.0.0/0 ge 0 le 0
ipv6 prefix-list system seq 10 permit {{ frr_su_system_net_v6 }} le 128
ipv6 prefix-list external seq 10 permit {{ frr_su_external_net_v6 }} le 128
ipv6 prefix-list external seq 20 permit ::/0 ge 0 le 0
!

route-map RM_SYSTEM_OUT permit 10
 match interface {{ frr_su_system_loopback }}
!
route-map RM_EXTERNAL_OUT permit 10
 match interface {{ frr_su_external_loopback }}
!
route-map RM_SET_SRC4 permit 10
 match ip address prefix-list system
 set src {{ frr_su_system_address_v4 }}
!
route-map RM_SET_SRC4 permit 20
 match ip address prefix-list external
 set src {{ frr_su_external_address_v4 }}
!
route-map RM_SET_SRC6 permit 10
 match ip address prefix-list system
 set src {{ frr_su_system_address_v6 }}
!
route-map RM_SET_SRC6 permit 20
 match ip address prefix-list external
 set src {{ frr_su_external_address_v6 }}
!
ip protocol bgp route-map RM_SET_SRC4
!
ipv6 protocol bgp route-map RM_SET_SRC6
!
