# step-ca environment configuration
# These environment variables configure the automatic initialization of the CA
# when the container starts for the first time.

DOCKER_STEPCA_INIT_NAME={{ stepca_init_name }}
DOCKER_STEPCA_INIT_DNS_NAMES={{ stepca_init_dns_names }}
{% if stepca_init_provisioner_name %}
DOCKER_STEPCA_INIT_PROVISIONER_NAME={{ stepca_init_provisioner_name }}
{% endif %}
{% if stepca_init_ssh %}
DOCKER_STEPCA_INIT_SSH={{ stepca_init_ssh }}
{% endif %}
{% if stepca_init_password %}
DOCKER_STEPCA_INIT_PASSWORD={{ stepca_init_password }}
{% endif %}
