---
- name: Restart manager service
  become: true
  ansible.builtin.service:
    name: "{{ manager_service_name }}"
    state: restarted
  when: manager_service_restart|bool
  notify:
    - Wait for manager service to start
    - Register that manager service was restarted

- name: Wait for manager service to start
  ansible.builtin.pause:
    minutes: 1
  changed_when: true
  notify:
    - Ensure that all containers are up

# NOTE: This handler prevents a 2nd manager restart in the
#       osism.manager.manager playbook.
- name: Register that manager service was restarted
  ansible.builtin.set_fact:
    manager_service_restart: false

- name: Ensure that all containers are up
  ansible.builtin.command:
    cmd: docker compose --project-directory /opt/manager up -d
  changed_when: true
  notify:
    - Wait for an healthy manager service
  become: true

# NOTE: The command returns a list of IDs of containers from the service
#       that are currently starting or unhealthy. As long as the list is not empty
#       the service is not in a good state.
- name: Wait for an healthy manager service
  become: true
  ansible.builtin.shell: |
    set -o pipefail
    docker compose --project-directory /opt/manager \
        ps --all --format json | \
        jq '. | select(.State=="created" or .State=="exited" or .Health=="starting" or .Health=="unhealthy") | .Name'
  args:
    executable: /bin/bash
  register: result
  until: "result.stdout | length == 0"
  # NOTE: Netbox availability sometimes takes a long time. Since the inventory
  #       reconciler is only healthy when the Netbox is usable, a very long wait
  #       (1000 seconds) is intentionally made here.
  retries: 50
  delay: 20
  changed_when: true
  notify:
    - Copy osismclient bash completion script

- name: Copy osismclient bash completion script
  become: true
  ansible.builtin.shell:
    cmd: "INTERACTIVE=false osism complete > /etc/bash_completion.d/osism"
  register: result
  changed_when: true
  failed_when: result.rc != 0
  when: enable_celery|bool
  ignore_errors: true
