---
- name: Include distribution specific install tasks
  ansible.builtin.include_tasks: "install-{{ ansible_os_family }}.yml"

- name: Start/enable lldpd service
  become: true
  ansible.builtin.service:
    name: "{{ lldpd_service_name }}"
    state: started
    enabled: true
