version: '3'
services:
  mariadb:
    container_name: "{{ container_name.mariadb }}"
    image: {{ image_list.mariadb }}
    env_file: "{{ base_conf_dir }}/mariadb.env"
  zookeeper:
    container_name: "{{ container_name.zookeeper }}"
    image: {{ image_list.zookeeper }}
    hostname: {{ zookeeper_fqdn }}
    volumes:
      - "{{ component_conf_dirs.certs }}:/var/certs:z"
      - "{{ component_conf_dirs.zookeeper }}/zoo.cfg:/conf/zoo.cfg:z"
    command: zkServer.sh start-foreground
  nodepool_launcher:
    container_name: "{{ container_name.nodepool_launcher }}"
    depends_on:
      - zookeeper
    image: {{ image_list.nodepool_launcher }}
    volumes:
      - "{{ component_conf_dirs.nodepool_launcher }}:/etc/nodepool/:z"
      - "{{ component_conf_dirs.certs }}:/var/certs:z"
    ports:
      - "{{ port_list.nodepool_launcher }}:8022"
  zuul_scheduler:
    container_name: "{{ container_name.zuul_scheduler }}"
    depends_on:
      - zookeeper
      - mariadb
    env_file: "{{ base_conf_dir }}/scheduler.env"
    command: "sh -c '/wait-to-start.sh && zuul-scheduler -f'"
    image: {{ image_list.zuul_scheduler }}
    volumes:
      - "{{ component_conf_dirs.zuul }}:/etc/zuul/:z"
      - "{{ component_conf_dirs.ssh_keys }}:/var/ssh:z"
      - "{{ component_conf_dirs.certs }}:/var/certs:z"
      - "{{ component_conf_dirs.scheduler }}/wait-to-start.sh:/wait-to-start.sh:ro"
  zuul_web:
    container_name: "{{ container_name.zuul_web }}"
    command: "sh -c '/wait-to-start-gearman.sh && zuul-web -f'"
    depends_on:
      - zuul_scheduler
      - mariadb
    ports:
      - "{{ port_list.web }}:9000"
    image: {{ image_list.zuul_web }}
    env_file: "{{ base_conf_dir }}/web.env"
    volumes:
      - "{{ component_conf_dirs.zuul }}:/etc/zuul/:z"
      - "{{ component_conf_dirs.certs }}:/var/certs:z"
      - "{{ component_conf_dirs.web }}/wait-to-start-gearman.sh:/wait-to-start-gearman.sh:ro"
  zuul_executor:
    container_name: "{{ container_name.zuul_executor }}"
    privileged: true
    env_file: "{{ base_conf_dir }}/executor.env"
    depends_on:
      - zuul_scheduler
    image: {{ image_list.zuul_executor }}
    volumes:
      - "{{ component_conf_dirs.zuul }}:/etc/zuul/:z"
      - "{{ component_conf_dirs.ssh_keys }}:/var/ssh:z"
      - "{{ component_conf_dirs.certs }}:/var/certs:z"
      - "log_server:/srv/static/logs:z"
  log_server:
    container_name: "{{ container_name.log_server }}"
    build:
      dockerfile: log_server_Dockerfile
      context: {{ component_conf_dirs.log_server }}
    ports:
      - "{{ port_list.log_server }}:80"
    volumes:
      - "log_server:/usr/local/apache2/htdocs:z"
{% for worker_node in container_name.worker_node_list %}
  {{ worker_node }}:
    container_name: "{{ worker_node }}"
    build:
      dockerfile: worker_node_Dockerfile
      context: {{ component_conf_dirs.ssh_keys }}
{% endfor %}

volumes:
  log_server:

