zookeeper-servers:
- host: {{ container_name.zookeeper }}
  port: 2281
zookeeper-tls:
  cert: /var/certs/certs/client.pem
  key: /var/certs/keys/clientkey.pem
  ca: /var/certs/certs/cacert.pem

{{ nodepool_labels|to_nice_yaml(indent=2) }}

{{ nodepool_providers|to_nice_yaml(indent=2) }}
