[zookeeper]
hosts=zuul_zookeeper:2281
tls_cert=/var/certs/certs/client.pem
tls_key=/var/certs/keys/clientkey.pem
tls_ca=/var/certs/certs/cacert.pem

[keystore]
password=%(ZUUL_MARIADB_PASSWORD)s

[scheduler]
tenant_config=/etc/zuul/main.yaml
log_config=/etc/zuul/logging.conf
{% for i in zuul_connections|dict2items %}

[connection "{{ i['key'] }}"]
{% for j in i['value']|dict2items %}
{{ j['key'] }}={{ j['value'] }}
{% endfor %}
{% endfor %}

[database]
dburi=mysql+pymysql://%(ZUUL_MARIADB_USERNAME)s:%(ZUUL_MARIADB_PASSWORD)s@{{ container_name.mariadb }}/%(ZUUL_MARIADB_DBNAME)s

[web]
listen_address=0.0.0.0
port=9000
root=https://{{ zuul_webserver_fqdn }}
log_config=/etc/zuul/web-logging.conf

[executor]
private_key_file=/var/ssh/nodepool
default_username=root
trusted_rw_paths=/srv/static/logs
log_config=/etc/zuul/executor-logging.conf
{% if zuul_auth_secret is defined %}

[auth zuul_operator]
driver=HS256
allow_authz_override=true
realm={{ zuul_webserver_fqdn }}
client_id={{ zuul_webserver_fqdn }}
issuer_id=zuul_operator
secret={{ zuul_auth_secret }}
{% endif %}
{% if zuul_metrics_statsd_host | length > 0 %}

[statsd]
server={{ zuul_metrics_statsd_host }}
port={{ zuul_metrics_statsd_port }}
{% if zuul_metrics_statsd_prefix | length > 0 %}prefix={{ zuul_metrics_statsd_prefix }}{% endif %}
{% endif %}
