---
- name: Install auditd package
  become: true
  ansible.builtin.apt:
    name: "{{ auditd_package_name }}"
    state: present
    lock_timeout: "{{ apt_lock_timeout | default(300) }}"

- name: Install audispd-plugins package
  become: true
  ansible.builtin.apt:
    name: "{{ audispd_plugins_package_name }}"
    state: present
    lock_timeout: "{{ apt_lock_timeout | default(300) }}"
