---
- name: Include distribution spacific vars
  ansible.builtin.include_vars: jammy.yml
  when: ansible_distribution == "Ubuntu" and ansible_distribution_major_version == "22"

- name: Include distribution specific install tasks
  ansible.builtin.include_tasks: "install-{{ ansible_os_family }}.yml"

- name: Copy auditd.conf configuration files
  become: true
  ansible.builtin.template:
    src: auditd.conf.j2
    dest: /etc/audit/audit.conf
    mode: 0640
  notify: Restart auditd service

- name: Adjust auditd/audispd configurations
  become: true
  ansible.builtin.lineinfile:
    dest: "{{ item.config }}"
    regexp: '^#?{{ item.parameter }}\s*='
    line: "{{ item.parameter }} = {{ item.value }}"
    mode: 0640
  with_items: "{{ auditd_config }}"
  notify: Restart auditd service

- name: Deploy rules for auditd
  become: true
  ansible.builtin.template:
    src: "rules/{{ item }}.j2"
    dest: "{{ auditd_rules_path }}/{{ item }}"
    owner: root
    group: root
    mode: 0644
    backup: "{{ auditd_backup }}"
  loop: "{{ auditd_rules_files }}"
  notify: Generate auditd rules

- name: Start/enable auditd service
  become: true
  ansible.builtin.service:
    name: "{{ auditd_service_name }}"
    state: started
    enabled: true

- name: List existing rules files
  become: true
  ansible.builtin.command: "find {{ auditd_rules_path }} -type f -printf '%f\n'"
  changed_when: false
  register: auditd_existing_rules

- name: Remove unmanaged rules files
  become: true
  ansible.builtin.file:
    dest: "{{ auditd_rules_path }}/{{ item }}"
    state: absent
  when:
    - item not in auditd_rules_files
    - item != 'osas-auditd-rhel7.rules'
  loop: "{{ auditd_existing_rules.stdout_lines | default([]) }}"
  notify: Generate auditd rules
