---
- name: Copy wrapper scripts
  become: true
  ansible.builtin.template:
    src: "wrapper/{{ item }}.j2"
    dest: "/usr/local/bin/{{ item }}"
    mode: 0755
    owner: "{{ operator_user }}"
    group: "{{ operator_group }}"
  loop: "{{ manager_wrapper_scripts }}"
