---
- name: Include install tasks
  ansible.builtin.include_tasks: "install-{{ ansible_os_family }}-family.yml"
  tags: install

- name: Gather variables for each operating system
  ansible.builtin.include_vars: "{{ ansible_os_family }}-family.yml"

- name: Include config tasks
  ansible.builtin.include_tasks: config.yml
  tags: config

- name: Include service tasks
  ansible.builtin.include_tasks: service.yml
  tags: service

- name: Include initialize tasks
  ansible.builtin.include_tasks: initialize.yml
  tags: initialize

- name: Include version verification tasks
  ansible.builtin.include_tasks: verify-versions.yml
  tags: verify-versions
