---
- name: Create traefik external network
  community.docker.docker_network:
    name: "{{ traefik_external_network_name }}"
    ipam_config:
      - subnet: "{{ traefik_external_network_cidr }}"
  when: ara_server_traefik|bool

- name: Copy docker-compose.yml file
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: "{{ manager_docker_compose_directory }}/docker-compose.yml"
    owner: "{{ operator_user }}"
    group: "{{ operator_group }}"
    mode: 0640
  notify: Restart manager service

- name: Start/enable manager service
  become: true
  ansible.builtin.service:
    name: "{{ manager_service_name }}"
    state: started
    enabled: true

- name: Get stat of /usr/local/bin/osism
  stat:
    path: /usr/local/bin/osism
  register: result
  changed_when: false

- name: Copy osismclient bash completion script
  become: true
  ansible.builtin.shell:
    cmd: "INTERACTIVE=false osism complete >> /etc/bash_completion.d/osism"
    creates: /etc/bash_completion.d/osism
  register: result
  changed_when: false
  failed_when: result.rc != 0
  when: result.stat.exists
