---
- name: Create traefik external network
  community.docker.docker_network:
    name: "{{ traefik_external_network_name }}"
    ipam_config:
      - subnet: "{{ traefik_external_network_cidr }}"
  when: ara_server_traefik|bool

- name: Set mariadb healthcheck for mariadb < 11.0.0
  ansible.builtin.set_fact:
    ara_server_mariadb_healthcheck: "mysqladmin status -h localhost -u $$MYSQL_USER -p$$MYSQL_PASSWORD || exit 1"
  when:
    - "ara_server_mariadb_tag is version('11.0.0', '<')"

- name: Set mariadb healthcheck for mariadb >= 11.0.0
  ansible.builtin.set_fact:
    ara_server_mariadb_healthcheck: "healthcheck.sh --connect --innodb_initialized"
  when:
    - "ara_server_mariadb_tag is version('11.0.0', '>=')"

- name: Copy docker-compose.yml file
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: "{{ manager_docker_compose_directory }}/docker-compose.yml"
    owner: "{{ operator_user }}"
    group: "{{ operator_group }}"
    mode: 0640
  notify:
    - Restart manager service

- name: Ensure that the manager service is up and running
  block:  # noqa osism-fqcn
    - name: Start/enable manager service
      become: true
      ansible.builtin.service:
        name: "{{ manager_service_name }}"
        state: started
        enabled: true
      notify:
        - Wait for manager service to start
  rescue:
    # Compose is not always reliable when starting services. Therefore,
    # in case of an error at startup, another stop and start of the
    # service is tried here.
    - name: Stop manager service
      become: true
      ansible.builtin.service:
        name: "{{ manager_service_name }}"
        state: stopped

    - name: Do a manual start of the manager service
      become: true
      ansible.builtin.command: "/usr/bin/docker compose --project-directory {{ manager_docker_compose_directory }} up -d --remove-orphans"
      changed_when: true
      notify:
        - Wait for manager service to start

    # This does not change anything on the service side, but the unit is
    # then in the expected state.
    - name: Start manager service again
      become: true
      ansible.builtin.service:
        name: "{{ manager_service_name }}"
        state: started
