---
skip-verify: true
log: true

{% if _gnmic_targets | length %}
targets:
  {{ _gnmic_targets | to_nice_yaml(indent=2)|indent(2) }}
{% endif %}

{% if _gnmic_subscriptions | length %}
subscriptions:
  {{ _gnmic_subscriptions | to_nice_yaml(indent=2)|indent(2) }}
{% endif %}
    
{% if _gnmic_outputs | length %}
outputs:
  {{ _gnmic_outpus | to_nice_yaml(indent=2)|indent(2) }}
{% endif %}
