---
services:
  openstack_health_monitor:
    container_name: "{{ openstack_health_monitor_container_name }}"
    restart: unless-stopped
    image: "{{ openstack_health_monitor_image }}"
    entrypoint: crond -f -c /configuration/crontabs
    env_file:
      - "{{ openstack_health_monitor_configuration_directory }}/openstack_health_monitor.env"
    volumes:
      - "{{ openstack_health_monitor_configuration_directory }}:/configuration:ro"
      - "/etc/hosts:/etc/hosts:ro"
      - "data:/data:rw"

volumes:
  data:

networks:
  default:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: {{ docker_network_mtu }}
    ipam:
      driver: default
      config:
        - subnet:  {{ openstack_health_monitor_network }}
