---
##########################
# operator

operator_user: dragon
operator_group: "{{ operator_user }}"

##########################
# docker

docker_registry_rundeck: index.docker.io
docker_registry_postgres: index.docker.io

##########################
# rundeck

rundeck_configuration_directory: /opt/rundeck/configuration
rundeck_secrets_directory: /opt/rundeck/secrets
rundeck_docker_compose_directory: /opt/rundeck

docker_network_mtu: 1500
rundeck_network: 172.31.100.192/28
rundeck_service_name: "docker-compose@rundeck"

rundeck_host: 127.0.0.1
rundeck_port: 4440

rundeck_tag: 3.3.10
rundeck_image: "{{ docker_registry_rundeck }}/rundeck/rundeck:{{ rundeck_tag }}"

##########################
# postgres

rundeck_postgres_tag: 13-alpine
rundeck_postgres_image: "{{ docker_registry_postgres }}/library/postgres:{{ rundeck_postgres_tag }}"

rundeck_postgres_password: password
rundeck_postgres_username: rundeck
rundeck_postgres_databasename: rundeck
