---
- name: Create traefik external network
  community.docker.docker_network:
    name: "{{ traefik_external_network_name }}"
    ipam_config:
      - subnet: "{{ traefik_external_network_cidr }}"
  when: nexus_traefik|bool

- name: Copy docker-compose.yml file
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: "{{ nexus_docker_compose_directory }}/docker-compose.yml"
    owner: "{{ operator_user }}"
    group: "{{ operator_group }}"
    mode: 0640
  notify: Restart nexus service

- name: Start/enable nexus service
  become: true
  ansible.builtin.service:
    name: "{{ nexus_service_name }}"
    state: started
    enabled: true
  register: nexus_service
