---
services:
  jenkins:
    container_name: jenkins
    restart: unless-stopped
    env_file:
      - "{{ jenkins_configuration_directory }}/jenkins.env"
    image: "{{ jenkins_image }}"
    ports:
      - "{{ jenkins_host }}:{{ jenkins_port }}:8080"
    volumes:
      - "/etc/hosts:/etc/hosts:ro"
      - jenkins:/bitnami/jenkins

volumes:
  jenkins:

networks:
 default:
   driver: bridge
   ipam:
     driver: default
     config:
       - subnet:  {{ jenkins_network }}
