# {{ ansible_managed }}
{% for device in smartd_devices %}
{{ device.device }}{{ (' -d ' + device.type) if device.type is defined else '' }}{{ (' ' + device.options) if device.options is defined else '' }}
{% endfor %}
{% if smartd_devices | length == 0 and smartd_devicescan | bool %}
DEVICESCAN{{ (' ' + smartd_devicescan_options) if smartd_devicescan_options else '' }}
{% endif %}
