RUNDECK_DATABASE_DRIVER=org.postgresql.Driver
RUNDECK_DATABASE_USERNAME={{ rundeck_postgres_username }}
RUNDECK_DATABASE_PASSWORD={{ rundeck_postgres_password }}
RUNDECK_DATABASE_URL=jdbc:postgresql://postgres/{{ rundeck_postgres_databasename }}?autoReconnect=true&useSSL=false&allowPublicKeyRetrieval=true
RUNDECK_SERVER_FORWARDED=true
RUNDECK_GRAILS_URL=http://{{ rundeck_host }}:{{ rundeck_port }}
