---
services:
  openldap:
    container_name: "{{ openldap_container_name }}"
    image: "{{ openldap_image }}"
    restart: unless-stopped
    env_file:
      - "{{ openldap_configuration_directory }}/openldap.env"
    volumes:
      - {{ openldap_secrets_directory }}/dh_2048.pem:/etc/ldap/dh_2048.pem:ro
      - {{ openldap_configuration_directory }}/saml/idp/:/usr/share/saml/idp/:ro
      - db-data:/var/lib/univention-ldap/ldap/:rw
      - last-id-data:/var/lib/univention-ldap/last-id-data/:rw
      - ldap-run:/var/run/slapd/:rw
      - translog-data:/var/lib/univention-ldap/translog/:rw
    ports:
      - "{{ openldap_host }}:{{ openldap_ldap_port }}:{{ openldap_ldap_port }}"
      - "{{ openldap_host }}:{{ openldap_ldaps_port }}:{{ openldap_ldaps_port }}"
    secrets:
      - ca_cert
      - cert_pem
      - private_key
    healthcheck:
      test: bash -c 'echo > /dev/tcp/{{ openldap_host }}/{{ openldap_ldap_port }}'
      interval: 2s
      timeout: 1s
      retries: 10
      start_period: 5s
  udm-rest:
    container_name: "{{ udm_rest_container_name }}"
    env_file:
      - "{{ openldap_configuration_directory }}/udm-rest.env"
    image: "{{ udm_rest_image }}"
    restart: unless-stopped
    ports:
    - "{{ udm_rest_host }}:{{ udm_rest_port }}:9979"
#   depends_on:
#     openldap:
#       condition: service_healthy
    secrets:
    - ca_cert
  umc-server:
    container_name: "{{ umc_server_container_name }}"
    env_file:
      - "{{ openldap_configuration_directory }}/umc-server.env"
    image: "{{ umc_server_image }}"
    restart: unless-stopped
    ports:
    - "{{ umc_server_host }}:{{ umc_server_port }}:6670"
    volumes:
    - umc-socket:/var/run/univention-management-console
    - umc-temp-upload:/var/tmp/univention-management-console-frontend
    - ./umc/server/acls:/var/cache/univention-management-console/acls/
    - "{{ openldap_configuration_directory }}/umc/server/ucr:/etc/univention/base.conf"
#   - ./umc/server/config/saml/ucs-sso.example.org.xml.example:/usr/share/univention-management-console/saml/idp/ucs-sso.example.org.xml:ro
    secrets:
    - ca_cert
    - cert_pem
    - private_key
  umc-web:
    container_name: "{{ umc_web_container_name }}"
    env_file:
      - "{{ openldap_configuration_directory }}/umc-web.env"
    image: "{{ umc_web_image }}"
    restart: unless-stopped
    ports:
    - "{{ umc_web_host }}:{{ umc_web_port }}:8090"
    volumes:
    - umc-socket:/var/run/univention-management-console
    - umc-temp-upload:/var/tmp/univention-management-console-frontend
#   - ./umc/server/config/saml/ucs-sso.example.org.xml.example:/usr/share/univention-management-console/saml/idp/ucs-sso.example.org.xml:ro
    - "{{ openldap_configuration_directory }}/umc/web/ucr:/etc/univention/base.conf"
    secrets:
    - ca_cert
    - cert_pem
    - private_key
  umc-gateway:
    container_name: "{{ umc_gateway_container_name }}"
    env_file:
      - "{{ openldap_configuration_directory }}/umc-gateway.env"
    image: "{{ umc_gateway_image }}"
    restart: unless-stopped
    ports:
    - "{{ umc_gateway_host }}:{{ umc_gateway_http_port }}:80"
    - "{{ umc_gateway_host }}:{{ umc_gateway_https_port }}:443"
    volumes:
    - "{{ openldap_configuration_directory }}/umc/gateway/ucr:/etc/univention/base.conf"

volumes:
  # OpenLDAP only:
  db-data:
  last-id-data:
  ldap-run:
  translog-data:

  # UMC Server + UMC Web
  umc-socket:
  umc-temp-upload:


secrets:
  ca_cert:
    file: {{ openldap_secrets_directory }}/CAcert.pem
  cert_pem:
    file: {{ openldap_secrets_directory }}/cert.pem
  private_key:
    file: {{ openldap_secrets_directory }}/private.key

networks:
  default:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: {{ docker_network_mtu }}
    ipam:
      driver: default
      config:
        - subnet:  {{ openldap_network }}
