ad/member=false
auth/methods: ldap
directory/manager/templates/alphanum/whitelist: 
directory/manager/user/activate_ldap_attribute_mailForwardCopyToSelf: yes
directory/manager/user_group/uniqueness: true
directory/manager/web/language: de_DE.UTF-8
directory/manager/web/modules/autosearch: 1
directory/manager/web/modules/computers/computer/add/default: computers/windows
directory/manager/web/modules/groups/group/caching/uniqueMember/timeout: 300
directory/manager/web/modules/groups/group/checks/circular_dependency: yes
directory/manager/web/modules/search/advanced_on_open: false
directory/manager/web/modules/users/user/properties/homePostalAddress/syntax: postalAddress
directory/manager/web/modules/wizards/disabled: no
directory/manager/web/sizelimit: 2000
directory/reports/cleanup/age: 43200
directory/reports/cleanup/cron: 0 0 * * *
directory/reports/logo: /usr/share/univention-directory-reports/univention_logo.png
directory/reports/templates/csv/computer1: computers/computer "CSV Report" /etc/univention/directory/reports/default computers.csv
directory/reports/templates/csv/group1: groups/group "CSV Report" /etc/univention/directory/reports/default groups.csv
directory/reports/templates/csv/user1: users/user "CSV Report" /etc/univention/directory/reports/default users.csv
directory/reports/templates/pdf/computer1: computers/computer "PDF Document" /etc/univention/directory/reports/default computers.rml
directory/reports/templates/pdf/group1: groups/group "PDF Document" /etc/univention/directory/reports/default groups.rml
directory/reports/templates/pdf/user1: users/user "PDF Document" /etc/univention/directory/reports/default users.rml
domainname: {{ openldap_domain_name }}
groups/default/domainadmins: Domain Admins
groups/default/printoperators: Printer-Admins
hostname: primary
ldap/base: {{ openldap_base_dn }}
ldap/hostdn: cn=admin,{{ openldap_base_dn }}
ldap/master: {{ openldap_host }}
ldap/master/port: {{ openldap_ldap_port }}
ldap/server/name: {{ openldap_host }}
ldap/server/port: {{ openldap_ldap_port }}
license/base: dc=univention-organization,dc=intranet
locale: de_DE.UTF-8:UTF-8 en_US.UTF-8:UTF-8
locale/default: de_DE.UTF-8:UTF-8
password/hashing/method: SHA-512
saml/idp/authsource: univention-ldap
saml/idp/certificate/certificate: /etc/simplesamlphp/ucs-sso.example.org-idp-certificate.crt
saml/idp/certificate/privatekey: /etc/simplesamlphp/ucs-sso.example.org-idp-certificate.key
saml/idp/enableSAML20-IdP: true
saml/idp/entityID: https://ucs-sso.example.org/simplesamlphp/saml2/idp/metadata.php
saml/idp/https: true
saml/idp/ldap/get_attributes: 'uid', 'mailPrimaryAddress', 'memberOf', 'enabledServiceProviderIdentifier'
saml/idp/ldap/search_attributes: 'uid', 'mailPrimaryAddress'
saml/idp/lookandfeel/theme: univentiontheme:univention
saml/idp/negotiate: true
saml/idp/session-duration: 43200
saml/idp/show-error-reporting: true
saml/idp/show-errors: true
server/role: domaincontroller_master
ssl/ca/cipher: aes256
ssl/common: Univention Corporate Server Root CA (ID=XXX)
ssl/country: DE
ssl/crl/interval: 7
ssl/crl/validity: 10
ssl/default/bits: 2048
ssl/default/days: 1825
ssl/default/hashfunction: sha256
ssl/email: ssl@example.org
ssl/host/objectclass: univentionDomainController,univentionMemberServer,univentionClient
ssl/locality: DE
ssl/organizationalunit: Univention Corporate Server
ssl/organization: DE
ssl/state: DE
ssl/update/expired: yes
ssl/validity/check: yes
ssl/validity/host: 20523
ssl/validity/root: 20523
ssl/validity/warning: 30
system/setup/showloginmessage: false
ucr/backup/enabled: yes
ucr/encoding/strict: true
ucs/server/languages/de_AT: Deutsch (Österreich)
ucs/server/languages/de_CH: Deutsch (Schweiz)
ucs/server/languages/de_DE: Deutsch
ucs/server/languages/en_GB: English (United Kingdom)
ucs/server/languages/en_US: English
ucs/server/robots/disallow: /
ucs/server/saml-idp-server/primary.example.org: primary.example.org
ucs/server/sso/fqdn: ucs-sso.example.org
ucs/server/sso/virtualhost: true
ucs/web/license/requested: true
umc/http/autostart: yes
umc/http/content-security-policy/connect-src: 'self'
umc/http/content-security-policy/default-src: 'unsafe-eval'
umc/http/content-security-policy/font-src: 'self'
umc/http/content-security-policy/form-action: 'self'
umc/http/content-security-policy/frame-ancestors: 'self'
umc/http/content-security-policy/frame-src: *
umc/http/content-security-policy/img-src: *
umc/http/content-security-policy/media-src: *
umc/http/content-security-policy/object-src: 'self'
umc/http/content-security-policy/script-src: 'self' 'unsafe-inline' 'unsafe-eval' https://www.youtube.com/ https://s.ytimg.com/
umc/http/content-security-policy/style-src: 'self' 'unsafe-inline'
umc/http/interface: 127.0.0.1
umc/http/port: 8090
umc/http/response-timeout: 310
umc/http/session/timeout: 28800
umc/login/content-security-policy/frame-ancestors: 'self'
umc/login/links/how_do_i_login/enabled: true
umc/login/links/login_without_sso/enabled: true
umc/login/links/login_without_sso/text/de: Ohne Single Sign-On anmelden
umc/login/links/login_without_sso/text: Login without Single Sign On
umc/module/debug/level: 99
umc/module/timeout: 600
umc/module/udm/users/self/disabled: true
umc/saml/idp-server: https://ucs-sso.example.org/simplesamlphp/saml2/idp/metadata.php
umc/saml/trusted/sp/primary.example.org: primary.example.org
umc/server/autostart: yes
umc/server/debug/level: 99
umc/server/upload/max: 2048
umc/server/upload/min_free_space: 51200
umc/web/appliance/fast_setup_mode: true
umc/web/cache_bust: 1619020256
umc/web/favorites/default: udm:users/user,udm:groups/group,udm:computers/computer,appcenter:appcenter,updater
umc/web/feedback/description: [UMC-Feedback] Traceback
umc/web/feedback/mail: feedback@univention.de
umc/web/hooks/univention-management-console-module-passwordchange: passwordchange
umc/web/hooks/univention-web-js: default_menu_entries
umc/web/language: de_DE.UTF-8:UTF-8
umc/web/sso/enabled: true
umc/web/sso/newwindow: true
umc/web/startupdialog: false
update/available: false
update/reboot/required: false
uuid/license: 00000000-0000-0000-0000-000000000000
uuid/system: 00000000-0000-0000-0000-000000000000
version/erratalevel: 0
version/patchlevel: 0
version/version: 5.0
