---
- name: Restart openstackclient service
  become: true
  ansible.builtin.service:
    name: "{{ openstackclient_service_name }}"
    state: restarted
  notify:
    - Ensure that all containers are up

- name: Ensure that all containers are up
  become: true
  ansible.builtin.command:
    cmd: docker compose --project-directory /opt/openstackclient up -d
  changed_when: true
  notify:
    - Wait for an healthy service

# NOTE: The command returns a list of IDs of containers from the service
#       that are currently starting or unhealthy. As long as the list is not empty
#       the service is not in a good state.
- name: Wait for an healthy service
  become: true
  ansible.builtin.shell: |
    set -o pipefail
    docker compose --project-directory /opt/openstackclient \
        ps --all --format json | \
        jq '. | select(.State=="created" or .State=="exited" or .Health=="starting" or .Health=="unhealthy") | .Name'
  args:
    executable: /bin/bash
  register: result
  until: "result.stdout | length == 0"
  retries: 20
  delay: 10
  changed_when: true
  notify:
    - Copy bash completion script

- name: Copy bash completion script
  become: true
  ansible.builtin.command: "docker cp {{ openstackclient_container_name }}:/osc.bash_completion /etc/bash_completion.d/openstack"
  register: result
  changed_when: false
  failed_when: result.rc != 0
  ignore_errors: true
