---
##########################
# docker

docker_network_mtu: 1500

docker_registry_cephclient: quay.io

##########################
# operator user

operator_user: dragon
operator_group: "{{ operator_user }}"

##########################
# cephclient

cephclient_install_type: container
cephclient_version: reef

cephclient_mons: []
cephclient_keyring: ""
cephclient_keyring_name: client.admin

##########################
# container

cephclient_configuration_directory: /opt/cephclient/configuration
cephclient_data_directory: /opt/cephclient/data
cephclient_docker_compose_directory: /opt/cephclient

cephclient_tag: "{{ cephclient_version }}"
cephclient_image: "{{ docker_registry_cephclient }}/osism/cephclient:{{ cephclient_tag }}"

cephclient_container_name: cephclient

cephclient_network: 172.31.100.0/28

cephclient_service_name: "docker-compose@cephclient"

##########################
# package

cephclient_configure_repository: true

cephclient_repository_key: https://download.ceph.com/keys/release.asc

cephclient_debian_repository: "deb https://download.ceph.com/debian-{{ cephclient_version }} {{ ansible_distribution_release }} main"

cephclient_redhat_arch: "{{ 'aarch64' if ansible_architecture in ['aarch64', 'arm64'] else ansible_architecture }}"
cephclient_redhat_repository: "https://download.ceph.com/rpm-{{ cephclient_version }}/el9/{{ cephclient_redhat_arch }}/"

cephclient_packages:
  - ceph
