---
- name: Inform about new parameter homer_url_opensearch_dashboards
  ansible.builtin.debug:
    msg: "The support for the homer_url_kibana has been removed. Please use the homer_url_opensearch_dashboards parameter."
  when: "homer_url_kibana is defined"

- name: Create traefik external network
  community.docker.docker_network:
    name: "{{ traefik_external_network_name }}"
    ipam_config:
      - subnet: "{{ traefik_external_network_cidr }}"
  when: homer_traefik|bool

- name: Create required directories
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ operator_user }}"
    group: "{{ operator_group }}"
    mode: 0750
  loop:
    - "{{ homer_configuration_directory }}"
    - "{{ homer_docker_compose_directory }}"

- name: Copy config.yml configuration file
  ansible.builtin.template:
    src: config.yml.j2
    dest: "{{ homer_configuration_directory }}/config.yml"
    mode: 0644
    owner: "{{ operator_user }}"
    group: "{{ operator_group }}"
  notify: Restart homer service

- name: Copy docker-compose.yml file
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: "{{ homer_docker_compose_directory }}/docker-compose.yml"
    owner: "{{ operator_user }}"
    group: "{{ operator_group }}"
    mode: 0640
  notify: Restart homer service

- name: Start/enable homer service
  become: true
  ansible.builtin.service:
    name: "{{ homer_service_name }}"
    state: started
    enabled: true
