---
##########################
# operator

operator_user: dragon
operator_group: "{{ operator_user }}"

##########################
# rook_operator

container_registry_rook_operator: index.docker.io
rook_operator_image: "{{ container_registry_rook_operator }}/rook/ceph"
# renovate: datasource=docker depName=index.docker.io/rook/ceph
rook_operator_image_tag: 'v1.16.5'

rook_operator_helm_chart_ref: rook-release/rook-ceph
rook_operator_helm_release_name: rook-ceph
rook_operator_helm_release_namespace: rook-ceph

rook_operator_enable_discovery_daemon: true
rook_operator_discovery_daemon_interval: "60m"

rook_operator_placement:
  # also allow to run on kubnernetes control-plane/master nodes
  tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Equal"
      value: "true"
      effect: "NoSchedule"
    - key: "node-role.kubernetes.io/master"
      operator: "Equal"
      value: "true"
      effect: "NoSchedule"
rook_operator_placement_provisioner: "{{ rook_operator_placement }}"
rook_operator_placement_plugin: "{{ rook_operator_placement }}"
rook_operator_annotations: {}

rook_operator_helm_values:
  image:
    repository: "{{ rook_operator_image }}"
    tag: "{{ rook_operator_image_tag }}"
    pullPolicy: IfNotPresent

  tolerations: "{{ rook_operator_placement.tolerations }}"
  annotations: "{{ rook_operator_annotations }}"

  csi:
    provisionerTolerations: "{{ rook_operator_placement_provisioner.tolerations }}"
    pluginTolerations: "{{ rook_operator_placement_plugin.tolerations }}"

  enableDiscoveryDaemon: "{{ rook_operator_enable_discovery_daemon }}"
  discoveryDaemonInterval: "{{ rook_operator_discovery_daemon_interval }}"
