---
services:
  httpd:
    container_name: "{{ httpd_container_name }}"
    restart: unless-stopped
    image: "{{ httpd_image }}"
    ports:
      - "{{ httpd_host | ansible.utils.ipwrap }}:{{ httpd_port }}:80"
    volumes:
{% if httpd_ironic_enable | bool %}
      - "{{ httpd_ironic_volume }}:/usr/local/apache2/htdocs/ironic:ro"
{% if httpd_sonic_ztp_enable | bool %}
      - "{{ httpd_data_directory }}/{{ httpd_sonic_ztp_directory }}:/usr/local/apache2/htdocs/sonic:ro"
{% endif %}
{% else %}
      - "{{ httpd_data_directory }}:/usr/local/apache2/htdocs:ro"
{% endif %}
{% if httpd_sonic_ztp_enable | bool %}
      - "{{ httpd_configuration_directory }}/httpd.conf:/usr/local/apache2/conf/httpd.conf:ro"
{% endif %}
    healthcheck:
      test: "pgrep -f 'httpd -DFOREGROUND'"

networks:
  default:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: {{ docker_network_mtu }}
    ipam:
      driver: default
      config:
        - subnet: {{ httpd_network }}

{% if httpd_ironic_enable | bool %}
volumes:
  {{ httpd_ironic_volume }}:
    external: true
{% endif %}
