#!/usr/bin/bash

# fix permissons and ownership of /home/admin/.ssh
chown -R admin:admin /home/admin/.ssh
chmod 0700 /home/admin/.ssh
chmod 0600 /home/admin/.ssh/authorized_keys

# do not enforce a password change after the initial login
chage -d 99999 admin

# add nameserver to /etc/resolv.conf
for nameserver in $(jq -r '.DNS_NAMESERVER | keys[]' /etc/sonic/config_db.json 2>/dev/null); do
    if [[ -n "$nameserver" ]]; then
        echo "nameserver $nameserver" >> /etc/resolv.conf
    fi
done

# update status in Metalbox
ip vrf exec mgmt curl -X POST http://metalbox/v1/switches/$(hostname)/ztp/complete
