#!/usr/bin/bash

# fix permissons and ownership of /home/admin/.ssh
chown -R admin:admin /home/admin/.ssh
chmod 0700 /home/admin/.ssh
chmod 0600 /home/admin/.ssh/authorized_keys

# do not enforce a password change after the initial login
chage -d 99999 admin
