---
- name: Gather variables for each operating system
  include_vars: "{{ item }}"
  with_first_found:
    - "defaults/{{ ansible_os_family }}.yml"

- name: Stop/disable timesyncd service
  become: true
  service:
    name: systemd-timesyncd
    state: stopped
    enabled: false
  when: ansible_os_family == "Debian"

- name: Include distribution specific install tasks
  include_tasks: "install-{{ ansible_os_family }}.yml"

- name: Start/enable chrony
  become: true
  service:
    name: "{{ chrony_service_name }}"
    state: started
    enabled: true

- name: Check if configuration file exists
  stat:
    path: "{{ chrony_conf_file }}"
  register: chrony_conf_check

- name: Copy configuration file
  become: true
  template:
    src: "{{ item }}"
    dest: "{{ chrony_conf_file }}"
    mode: 0644
  when:
    - chrony_conf_check.stat.exists
  with_first_found:
    - "{{ chrony_conf_template }}"
    - chrony.conf.j2
  notify:
    - Restart chrony service
