---
- name: ceph-control
  slug: ceph-control
  color: Orange
- name: ceph-resource
  slug: ceph-resource
  color: Orange
- name: compute
  slug: compute
  color: Blue
- name: control
  slug: control
  color: Blue
- name: generic
  slug: generic
  color: Black
- name: manager
  slug: manager
  color: Green
- name: monitoring
  slug: monitoring
  color: Green
- name: network
  slug: network
  color: Blue
