---
services:
  keycloak:
    container_name: "{{ keycloak_container_name }}"
    image: "{{ keycloak_image }}"
    restart: unless-stopped
    env_file:
      - "{{ keycloak_configuration_directory }}/keycloak.env"
    volumes:
      - /etc/hosts:/etc/hosts:ro
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
{% if not keycloak_traefik|bool %}
    ports:
      - "{{ keycloak_host }}:{{ keycloak_port }}:8080"
{% else %}
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network={{ traefik_external_network_name }}"
      - "traefik.http.middlewares.keycloak-redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.middlewares.keycloak-redirect-to-https.redirectscheme.permanent=true"
      - "traefik.http.routers.keycloak.entrypoints=http"
      - "traefik.http.routers.keycloak.rule=Host(`{{ keycloak_host }}`)"
      - "traefik.http.routers.keycloak.middlewares=keycloak-redirect-to-https@docker"
      - "traefik.http.services.keycloak-secure.loadbalancer.server.port=8080"
      - "traefik.http.routers.keycloak-secure.entrypoints=https"
      - "traefik.http.routers.keycloak-secure.tls=true"
      - "traefik.http.routers.keycloak-secure.rule=Host(`{{ keycloak_host }}`)"
    networks:
      - default
      - {{ traefik_external_network_name }}
{% endif %}
    depends_on:
      - postgres
{% if not keycloak_galera_backend_enable |bool %}
  postgres:
    container_name: "{{ keycloak_container_name }}_postgres"
    image: "{{ postgres_image }}"
    restart: unless-stopped
    env_file:
      - "{{ keycloak_configuration_directory }}/postgres.env"
    volumes:
      - postgres:/var/lib/postgresql/data
    secrets:
      - POSTGRES_PASSWORD
    healthcheck:
      test: pg_isready -U {{ keycloak_postgres_username }}

volumes:
  postgres:

secrets:
  POSTGRES_PASSWORD:
    file: {{ keycloak_secrets_directory }}/POSTGRES_PASSWORD
{% endif %}

networks:
  default:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: {{ docker_network_mtu }}
    ipam:
      driver: default
      config:
        - subnet:  {{ keycloak_network }}
{% if keycloak_traefik|bool %}
  {{ traefik_external_network_name }}:
    external: true
{% endif %}
