---
device_state:
  type: text
  label: Device state
  default: "0"
  description: State of a device
  required: false
  weight: 0
  on_objects:
    - dcim.models.Device

configuration_template:
  type: text
  label: Configuration template
  default: ""
  description: Configuration template of a device
  required: false
  weight: 0
  on_objects:
    - dcim.models.Device
