---
maintenance:
  type: boolean
  label: Maintenance
  default: false
  description: Maintenance
  required: false
  weight: 0
  on_objects:
    - dcim.models.Device

provision_state:
  type: text
  label: Provision state
  description: Provision state of a device
  required: false
  weight: 0
  on_objects:
    - dcim.models.Device

power_state:
  type: text
  label: Power state
  description: Power state of a device
  required: false
  weight: 0
  on_objects:
    - dcim.models.Device

ironic_parameters:
  type: json
  label: Ironic parameters
  description: Ironic parameters
  required: false
  weight: 0
  on_objects:
    - dcim.models.Device
