---
- name: Ceph control node
  slug: ceph-control
  color: Orange
- name: Ceph resource node
  slug: ceph-resource
  color: Orange
- name: Compute node
  slug: compute
  color: Blue
- name: Control node
  slug: control
  color: Blue
- name: Generic node
  slug: generic
  color: Black
- name: Manager node
  slug: manager
  color: Green
- name: Monitoring node
  slug: monitoring
  color: Green
- name: Network node
  slug: network
  color: Blue
