---
- name: Ceph control node
  slug: ceph-control-node
  color: Orange
- name: Ceph storage node
  slug: ceph-storage-node
  color: Orange
- name: OpenStack compute node
  slug: openstack-compute-node
  color: Blue
- name: OpenStack control node
  slug: openstack-control-node
  color: Blue
- name: Generic node
  slug: generic-node
  color: Lime
- name: Manager node
  slug: manager-node
  color: Green
- name: Monitoring node
  slug: monitoring-node
  color: Green
- name: OpenStack network node
  slug: openstack-network-node
  color: Blue
- name: Resource node
  slug: resource-node
  color: Yellow
- name: Firewall node
  slug: firewall-node
  color: Red
- name: Core switch
  slug: core-switch
  color: Yellow
- name: Aggregation switch
  slug: aggregation-switch
  color: Yellow
- name: Access switch
  slug: access-switch
  color: Yellow
- name: Spine switch
  slug: spine-switch
  color: Yellow
- name: Leaf switch
  slug: leaf-switch
  color: Yellow
- name: Generic switch
  slug: generic-switch
  color: Lime
