---
- name: Compute
  slug: compute
  color: Blue
- name: Storage
  slug: storage
  color: Blue
- name: Control
  slug: control
  color: Green
- name: Manager
  slug: manager
  color: Green
- name: Management
  slug: management
  color: Green
- name: Resource
  slug: resource
  color: Blue
- name: Network
  slug: network
  color: Orange
- name: Spine
  slug: spine
  color: Yellow
- name: Leaf
  slug: leaf
  color: Yellow
- name: Access
  slug: access
  color: yellow
- name: Transfer
  slug: transfer
  color: yellow
- name: External
  slug: external
  color: yellow
- name: Switch
  slug: switch
  color: Yellow
- name: Router
  slug: router
  color: Yellow
- name: Firewall
  slug: firewall
  color: Yellow
- name: Loadbalancer
  slug: loadbalancer
  color: Yellow
- name: Mixed
  slug: mixed
  color: black
- name: Generic
  slug: generic
  color: black
- name: New
  slug: new
  color: black
- name: Other
  slug: other
  color: gray
- name: Power
  slug: power
  color: red
- name: Housing
  slug: housing
  color: gray
