---
- name: Control
  slug: control
- name: Data
  slug: data
- name: External
  slug: external
- name: Management
  slug: management
- name: Out of band
  slug: out-of-band
- name: Provisioning
  slug: provisioning
