---
- name: Control
  slug: control
- name: Data
  slug: data
- name: Internal
  slug: internal
- name: External
  slug: external
- name: Management
  slug: management
- name: OOB
  slug: oob
- name: Provisioning
  slug: provisioning
- name: Reserved
  slug: reserved
- name: Parking lot
  slug: parking-lot
- name: Loopback
  slug: loopback
- name: Storage
  slug: storage
