---
- name: Control
  slug: control
- name: Data
  slug: data
- name: Internal
  slug: internal
- name: External
  slug: external
- name: Management
  slug: management
- name: Out of band
  slug: out-of-band
- name: Provisioning
  slug: provisioning
- name: Reserved
  slug: reserved
- name: Parking lot
  slug: parking-lot
