---
- name: OpenStack
  slug: openstack
  color: Blue
- name: Ceph
  slug: ceph
  color: Blue
- name: Kubernetes
  slug: kubernetes
  color: Blue
- name: reserved
  slug: reserved
  color: Black
- name: unusable
  slug: unusable
  color: Black
- name: Managed by Ironic
  slug: managed-by-ironic
  color: Yellow
- name: Managed by OSISM
  slug: managed-by-osism
  color: Yellow
- name: Out of Band
  slug: out-of-band
  color: Red
