- name: osism_api_webhook
  payload_url: 'http://{{ netbox_osism_api_host }}:{{ netbox_osism_api_port }}/v1/webhook/netbox'
  object_types:
    - device
    - interface
  type_create: True
  type_delete: True
  type_update: True
