---
- name: Create traefik external network
  community.docker.docker_network:
    name: "{{ traefik_external_network_name }}"
    ipam_config:
      - subnet: "{{ traefik_external_network_cidr }}"
  when: cgit_traefik|bool

- name: Copy docker-compose.yml file
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: "{{ cgit_docker_compose_directory }}/docker-compose.yml"
    owner: "{{ operator_user }}"
    group: "{{ operator_group }}"
    mode: 0640
  notify: Restart cgit service

- name: Start/enable cgit service
  become: true
  ansible.builtin.service:
    name: "{{ cgit_service_name }}"
    state: started
    enabled: true
