---
- name: Initialize rook_cleanup_fact
  set_fact:
    rook_cleanup: "{{ rook_cleanup|default(false) }}"


- name: Create required directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ operator_user }}"
    group: "{{ operator_group }}"
    mode: 0750
  loop:
    - "{{ rook_work_directory }}"
  when: rook_cleanup


- name: Set cleanupPolicy in CephCluster CRD
  kubernetes.core.k8s:
    state: patched
    kind: CephCluster
    namespace: "{{ rook_namespace }}"
    name: "{{ rook_cluster_name }}"
    definition:
      spec:
        cleanupPolicy:
          confirmation: "yes-really-destroy-data"
    kubeconfig: /share/kubeconfig
  when: rook_cleanup


- name: Delete all CephClients
  kubernetes.core.k8s:
    state: absent
    kind: CephClient
    api_version: ceph.rook.io/v1
    namespace: "{{ rook_namespace }}"
    delete_all: true
    kubeconfig: /share/kubeconfig
  when: rook_cleanup


- name: Delete rook-ceph cluster chart
  kubernetes.core.helm:
    release_name: "{{ rook_cluster_name }}"
    release_namespace: "{{ rook_namespace }}"
    release_state: "absent"
  when: rook_cleanup


- name: Include wait-for-cluster-deleted task
  ansible.builtin.include_tasks: wait-for-cluster-deleted.yml
  tags: wait
  when: rook_cleanup
