---
- name: Include wait-for-cluster task
  ansible.builtin.include_tasks: wait-for-cluster.yml
  tags: wait


- name: Fetch Ceph keyring for each client
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Secret
    name: "rook-ceph-client-{{ item.key }}"
    namespace: "{{ rook_namespace }}"
  loop: "{{ rook_cephclients | dict2items }}"
  register: ceph_keyrings


- name: Initialize ceph_keyrings_fact
  set_fact:
    ceph_keyrings_fact: {}    


- name: Save the Ceph keyrings to ceph_keyrings_fact
  vars:
    client_name: "{{ item.resources[0].metadata.ownerReferences[0].name }}"
    client_key: "{{ item.resources[0].data.userKey | b64decode }}"
  set_fact:
    ceph_keyrings_fact: "{{ ceph_keyrings_fact | combine({client_name: {'key': client_key}}) }}"
  loop: "{{ ceph_keyrings.results }}"
  no_log: true


- name: Create required overlay directories
  ansible.builtin.file:
    path: "{{ item.1 | basename }}"
    state: directory
    owner: "{{ operator_user }}"
    group: "{{ operator_group }}"
    mode: 0755
  with_subelements:
    - "{{ rook_cephclients }}"
    - dests


- name: Save the Ceph keyrings to destinations
  vars:
    client_name: "{{ item.0.key }}"
    client_key: "{{ ceph_keyrings_fact[item.0.key].key }}"
    dest: "{{ item.1 }}"
  ansible.builtin.copy:
    content: |
      [client.{{ client_name }}]
        key = {{ client_key }}
    dest: "{{ item.1 }}"
    mode: 0640
    owner: "{{ operator_user }}"
    group: "{{ operator_group }}"
  with_subelements:
    - "{{ rook_cephclients | dict2items }}"
    - value.dests
