---
- name: "Wait up to 30 minutes until the deletion of the CephCluster resource {{ rook_cluster_name }}"
  kubernetes.core.k8s_info:
    api_version: ceph.rook.io/v1
    kind: CephCluster
    name: "{{ rook_cluster_name }}"
    namespace: "{{ rook_ceph_cluster_helm_release_namespace }}"
  register: _rook_cluster_list
  until: _rook_cluster_list|json_query('resources') == []
  retries: 60
  delay: 30
