---
- name: Create required directories
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ operator_user }}"
    group: "{{ operator_group }}"
    mode: 0755
  loop:
    - "{{ adminer_docker_compose_directory }}"

- name: Copy docker-compose.yml file
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: "{{ adminer_docker_compose_directory }}/docker-compose.yml"
    owner: "{{ operator_user }}"
    group: "{{ operator_group }}"
    mode: 0640
  notify: Restart adminer service

- name: Start/enable adminer service
  become: true
  ansible.builtin.service:
    name: "{{ adminer_service_name }}"
    state: started
    enabled: true
