---
##########################
# operator

operator_user: dragon
operator_group: "{{ operator_user }}"

##########################
# docker

docker_network_mtu: 1500

docker_registry_homer: quay.io

##########################
# homer

homer_configuration_directory: /opt/homer/configuration
homer_docker_compose_directory: /opt/homer

homer_host: 127.0.0.1
homer_port: 8080

# renovate: datasource=docker depName=quay.io/osism/homer
homer_tag: 'v23.10.1'
homer_image: "{{ docker_registry_homer }}/osism/homer:{{ homer_tag }}"

homer_container_name: homer

homer_network: 172.31.100.208/28

homer_service_name: "docker-compose@homer"

##########################
# urls

homer_url_ara: "http://{{ ara_server_host | default(ansible_default_ipv4.address) }}:{{ ara_server_port | default(8120) }}"
homer_url_ceph: "http://{{ kolla_internal_vip_address }}:8140"
homer_url_flower: "http://{{ flower_host | default(ansible_default_ipv4.address) }}:{{ flower_port | default(5555) }}"
homer_url_grafana: "http://{{ kolla_internal_vip_address }}:3000"
homer_url_horizon: "http://{{ kolla_internal_vip_address }}"
homer_url_keycloak: "http://{{ keycloak_host | default(ansible_default_ipv4.address) }}:{{ keycloak_port | default(8170) }}"
homer_url_netbox: "http://{{ netbox_host | default(ansible_default_ipv4.address) }}:{{ netbox_port | default(8121) }}"
homer_url_netdata: "http://{{ netdata_host | default(ansible_default_ipv4.address) }}:{{ netdata_port | default(19999) }}"
homer_url_opensearch_dashboards: "http://{{ kolla_internal_vip_address }}:5601"
homer_url_phpmyadmin: "http://{{ phpmyadmin_host | default(ansible_default_ipv4.address) }}:{{ phpmyadmin_port | default(8110) }}"
homer_url_prometheus: "http://{{ kolla_internal_vip_address }}:9090"
homer_url_rabbitmq: "http://{{ kolla_internal_vip_address }}:15672"
homer_url_vault: "http://{{ vault_host | default(ansible_default_ipv4.address) }}:{{ vault_port | default(8200) }}"

##########################
# traefik

homer_traefik: false

traefik_external_network_name: traefik
traefik_external_network_cidr: 172.31.254.0/24
