---
- name: Copy docker-compose.yml file
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: "{{ virtualbmc_docker_compose_directory }}/docker-compose.yml"
    owner: "{{ operator_user }}"
    group: "{{ operator_group }}"
    mode: 0640
  notify: Restart virtualbmc service

- name: Start/enable virtualbmc service
  become: true
  ansible.builtin.service:
    name: "{{ virtualbmc_service_name }}"
    state: started
    enabled: true
