---
### testing
- name: Print uname -a
  ansible.builtin.command:
    cmd: uname -a
  register: uname_output

- debug:
    msg: "{{ uname_output.stdout }}"

- name: Gather variables for each operating system
  ansible.builtin.include_vars: "{{ ansible_os_family }}-family.yml"

- name: Set docker_version variable to default value
  ansible.builtin.set_fact:
    docker_version: "{{ __docker_version }}"
  when: docker_version|default(None) == None

- name: Set docker_cli_version variable to default value
  ansible.builtin.set_fact:
    docker_cli_version: "{{ __docker_cli_version }}"
  when: docker_cli_version|default(None) == None

- name: Include storage tasks
  ansible.builtin.include_tasks: storage.yml
  when: docker_configure_storage_block_device|bool

- name: Include docker install tasks
  ansible.builtin.include_tasks: "install-docker-{{ ansible_os_family }}-family.yml"

- name: Include config tasks
  ansible.builtin.include_tasks: config.yml

- name: Include service tasks
  ansible.builtin.include_tasks: service.yml

- name: Include bootstrap tasks
  ansible.builtin.include_tasks: bootstrap.yml

- name: Include facts tasks
  ansible.builtin.include_tasks: facts.yml
  when: docker_facts|bool
