---
services:
  traefik:
    container_name: "{{ traefik_container_name }}"
    restart: unless-stopped
    image: "{{ traefik_image }}"
    ports:
      - "{{ traefik_host }}:{{ traefik_port }}:8080"
      - "{{ traefik_host }}:{{ traefik_port_https }}:443"
      - "{{ traefik_host }}:{{ traefik_port_http }}:80"
    env_file:
      - "{{ traefik_configuration_directory }}/traefik.env"
    volumes:
      - "/etc/hosts:/etc/hosts:ro"
      - "{{ traefik_configuration_directory }}/osism.yml:/etc/traefik/osism.yml:ro"
      - "{{ traefik_configuration_directory }}/traefik.yml:/etc/traefik/traefik.yml:ro"
      - "{{ traefik_configuration_directory }}/certificates.yml:/etc/traefik/dynamic/certificates.yml:ro"
{% if traefik_certificates.keys() | length >0 %}
      - "{{ traefik_certificates_directory }}:/etc/traefik/certificates:ro"
{% endif %}
      - "/var/run/docker.sock:/var/run/docker.sock"
    healthcheck:
      test: traefik healthcheck
    networks:
      - {{ traefik_external_network_name }}

networks:
  {{ traefik_external_network_name }}:
    external: true
