---
providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false

api:
  insecure: true
  dashboard: true

entryPoints:
  http:
    address: ":80"

  https:
    address: ":443"

{% if traefik_tls_certs.keys() | length >0 %}
tls:
  certificates:
{% for certificate_name in traefik_tls_certs.keys() %}
    - certFile: /etc/traefik/certificates/{{ certificate_name }}.cert
      keyFile: /etc/traefik/certificates/{{ certificate_name }}.key
{% endfor %}
{% endif %}
