---
log:
  level: {{ traefik_log_level }}

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
  file:
    directory: "/etc/traefik/dynamic"

api:
  insecure: true
  dashboard: true

entryPoints:
  http:
    address: ":80"

  https:
    address: ":443"

ping: {}
