---
providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false

api:
  insecure: true
  dashboard: true

entryPoints:
  http:
    address: ":80"

  https:
    address: ":443"

{% if traefik_certificates.keys() | length >0 %}
tls:
  certificates:
{% for certificate in traefik_certificates.keys() %}
    - certFile: /etc/traefik/certificates/{{ certificate }}.cert
      keyFile: /etc/traefik/certificates/{{ certificate }}.key
{% endfor %}
{% endif %}
