---
- name: Remove hddtemp package
  become: true
  ansible.builtin.apt:
    name: hddtemp
    state: absent
    lock_timeout: "{{ apt_lock_timeout | default(300) }}"

- name: Enable Kernel Module drivetemp
  become: true
  ansible.builtin.lineinfile:
    line: drivetemp
    dest: /etc/modules
    mode: 0644
    state: present

- name: Load Kernel Module drivetemp
  become: true
  community.general.modprobe:
    name: drivetemp
    state: present

- name: Install lm-sensors
  become: true
  ansible.builtin.apt:
    name: lm-sensors
    state: present
    lock_timeout: "{{ apt_lock_timeout | default(300) }}"
