---
- name: Include distribution specific install tasks
  ansible.builtin.include_tasks: "install-{{ ansible_os_family }}.yml"

- name: Start/enable tuned service
  become: true
  ansible.builtin.service:
    name: "{{ tuned_service_name }}"
    state: started
    enabled: true

- name: Get active tuned profile
  become: true
  ansible.builtin.shell: |
    set -o pipefail
    tuned-adm active | awk -F': ' '{print $2}'
  register: result
  changed_when: false
  args:
    executable: /bin/bash

- name: Set tuned profile
  become: true
  ansible.builtin.command: "tuned-adm profile {{ tuned_profile }}"
  when: tuned_profile != result.stdout
  changed_when: true
