[Interface]
MTU = {{ wireguard_mtu }}
PrivateKey = CHANGEME - {{ item.name }} private key
Address = {{ item.ip }}

[Peer]
PublicKey = {{ wireguard_public_key_server['content']|b64decode }}
PresharedKey = {{ wireguard_preshared_key['content']|b64decode }}
AllowedIPs = {{ wireguard_client_allowed_ips }}
Endpoint = {{ wireguard_endpoint }}
