[Interface]
Address = {{ wireguard_server_address }}
ListenPort = {{ wireguard_listen_port }}
PrivateKey = {{ wireguard_private_key_server['content']|b64decode }}
PostUp   = iptables -A FORWARD -i %i -j ACCEPT; iptables -A FORWARD -o %i -j ACCEPT
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -D FORWARD -o %i -j ACCEPT
{% for user in wireguard_users %}

[Peer]
# User {{ user.name }}
PublicKey = {{ user.key }}
PresharedKey = {{ wireguard_preshared_key['content']|b64decode }}
AllowedIPs = {{ user.ip }}
{% endfor %}
