[Interface]
Address = {{ wireguard_server_address }}
ListenPort = {{ wireguard_listen_port }}
PrivateKey = {{ wireguard_private_key_server['content']|b64decode }}
PreUp    = sysctl -n net.ipv4.ip_forward | grep -q '^1$' || { echo "wireguard gateway: ip_forward is disabled"; exit 1; }
PostUp   = iptables -A FORWARD -i %i -j ACCEPT; iptables -A FORWARD -o %i -j ACCEPT; iptables -t nat -A POSTROUTING -s {{ wireguard_client_network }} -o {{ wireguard_outbound_interface }} -j MASQUERADE
PostDown = iptables -t nat -D POSTROUTING -s {{ wireguard_client_network }} -o {{ wireguard_outbound_interface }} -j MASQUERADE || true; iptables -D FORWARD -i %i -j ACCEPT; iptables -D FORWARD -o %i -j ACCEPT
{% for user in wireguard_users %}

[Peer]
# User {{ user.name }}
PublicKey = {{ user.key }}
PresharedKey = {{ wireguard_preshared_key['content']|b64decode }}
AllowedIPs = {{ user.ip }}
{% endfor %}
