# https://www.openpolicyagent.org/docs/latest/docker-authorization/
# https://github.com/open-policy-agent/opa-docker-authz

package docker.authz

default allow = false

allow {
    not deny
}

deny {
    unknown_container_image_registry
}

unknown_container_image_registry {
    splitted := split(input.Body.Image, "/")
{% for registry in docker_policy_allowed_registries %}
    not startswith(input.Body.Image, "{{ registry }}");
{% endfor %}
    count(splitted) > 2
}
