MARIADB_ROOT_PASSWORD={{ database.root_pass }}
MARIADB_DATABASE={{ database.db_name }}
MARIADB_USER={{ database.user_name }}
MARIADB_PASSWORD={{ database.user_pass }}
# Work around slow db startup when writing TZINFO data.
MARIADB_INITDB_SKIP_TZINFO=1
