---
version: '3.5'

services:
  postgres:
    image: "{{ rundeck_postgres_image }}"
    restart: unless-stopped
    env_file:
      - "{{ rundeck_configuration_directory }}/postgres.env"
    volumes:
      - postgres:/var/lib/postgresql/data
    secrets:
      - POSTGRES_PASSWORD
    healthcheck:
      test: pg_isready -U postgres

  rundeck:
    image: "{{ rundeck_image }}"
    restart: unless-stopped
    env_file:
      - "{{ rundeck_configuration_directory }}/rundeck.env"
    depends_on:
      - postgres
    ports:
      - "{{ rundeck_host }}:{{ rundeck_port }}:4440"
    volumes:
      - "keystore:/home/rundeck/.ssh"

volumes:
  keystore:
  postgres:

secrets:
  POSTGRES_PASSWORD:
    file: {{ rundeck_secrets_directory }}/POSTGRES_PASSWORD

networks:
 default:
   driver: bridge
   ipam:
     driver: default
     config:
       - subnet:  {{ rundeck_network }}
