---
version: '3'

services:
  adminer:
    container_name: adminer
    restart: unless-stopped
    image: "{{ adminer_image }}"
    environment:
      ADMINER_DEFAULT_SERVER: "{{ adminer_database_host }}"
    ports:
      - "{{ adminer_host }}:{{ adminer_port }}:8080"
    volumes:
      - "/etc/hosts:/etc/hosts:ro"
    healthcheck:
      test: curl --silent --fail localhost:8080

networks:
 default:
   driver: bridge
   ipam:
     driver: default
     config:
       - subnet:  {{ adminer_network }}
