INVENTORY_RECONCILER_SCHEDULE={{ manager_inventory_reconciler_schedule }}
GATHER_FACTS_SCHEDULE={{ manager_gather_facts_schedule }}
{% if manager_configure_proxy | bool %}
{# NOTE: Both spellings are set on purpose. requests, urllib and the Go
         based tools accept either of them, aria2c, which is used by the
         openstack-image-manager to prefetch images, only reads the
         lowercase names. #}
HTTP_PROXY={{ manager_proxy_http }}
http_proxy={{ manager_proxy_http }}
HTTPS_PROXY={{ manager_proxy_https }}
https_proxy={{ manager_proxy_https }}
NO_PROXY={{ manager_proxy_no_proxy | join(',') }}
no_proxy={{ manager_proxy_no_proxy | join(',') }}
{% endif %}
