ARA_ALLOWED_HOSTS=['*']
ARA_CORS_ORIGIN_ALLOW_ALL=true
ARA_DATABASE_ENGINE=django.db.backends.mysql
ARA_DATABASE_HOST=mariadb
ARA_DATABASE_NAME={{ ara_server_mariadb_databasename }}
ARA_DATABASE_PASSWORD={{ ara_server_mariadb_password }}
ARA_DATABASE_PORT=3306
ARA_DATABASE_USER={{ ara_server_mariadb_username }}
ARA_READ_LOGIN_REQUIRED=true
ARA_WRITE_LOGIN_REQUIRED=true
WAIT_HOSTS=mariadb:3306
