ARA_ALLOWED_HOSTS=['*']
ARA_CORS_ORIGIN_ALLOW_ALL=true
ARA_READ_LOGIN_REQUIRED=true
ARA_THREADS={{ manager_ara_threads }}
ARA_WORKERS={{ manager_ara_workers }}
ARA_WORKER_CLASS={{ manager_ara_worker_class }}
ARA_WORKER_CONNECTIONS={{ manager_ara_worker_connections }}
ARA_WRITE_LOGIN_REQUIRED=true
{% if manager_ara_server_database_type == 'mysql' %}
ARA_DATABASE_CONN_MAX_AGE=120
ARA_DATABASE_ENGINE=django.db.backends.mysql
ARA_DATABASE_HOST=mariadb
ARA_DATABASE_NAME={{ manager_ara_server_mariadb_databasename }}
ARA_DATABASE_PASSWORD={{ manager_ara_server_mariadb_password }}
ARA_DATABASE_PORT=3306
ARA_DATABASE_USER={{ manager_ara_server_mariadb_username }}
WAIT_HOSTS=mariadb:3306
{% endif %}
