DATABASE_USER={{ awx_postgres_username }}
DATABASE_NAME={{ awx_postgres_databasename }}
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_PASSWORD={{ awx_postgres_password }}

REDIS_HOST=redis
REDIS_PORT=6379

AWX_ADMIN_USER={{ awx_username }}
AWX_ADMIN_PASSWORD={{ awx_password }}
AWX_SERVER_HOST={{ awx_server_host }}
AWX_SERVER_PORT={{ awx_server_port }}

TOWER_HOST=http://{{ awx_server_host }}:{{ awx_server_port }}
TOWER_USERNAME={{ awx_username }}
TOWER_PASSWORD={{ awx_password }}
