{% if manager_opensearch_enable|bool %}
OPENSEARCH_ADDRESS={{ manager_opensearch_address }}
OPENSEARCH_PORT={{ manager_opensearch_port }}
OPENSEARCH_PROTOCOL={{ manager_opensearch_protocol }}
{% endif %}
