ENABLE_IRONIC={{ manager_enable_ironic }}
{% if netbox_filter_conductor_ironic | length > 0 %}
NETBOX_FILTER_CONDUCTOR_IRONIC="{{ netbox_filter_conductor_ironic | to_nice_yaml(indent=2) }}"
{% endif %}
{% if netbox_filter_conductor_sonic | length > 0 %}
NETBOX_FILTER_CONDUCTOR_SONIC="{{ netbox_filter_conductor_sonic | to_nice_yaml(indent=2) }}"
{% endif %}
