INVENTORY_RECONCILER_MODE={{ manager_inventory_reconciler_mode }}
{% if netbox_data_types | length > 0 %}
NETBOX_DATA_TYPES='@json {{ netbox_data_types | to_json }}'
{% endif %}
{% if netbox_ignored_roles | length > 0 %}
NETBOX_IGNORED_ROLES='@json {{ netbox_ignored_roles | to_json }}'
{% endif %}
{% if netbox_role_mapping | length > 0 %}
NETBOX_ROLE_MAPPING='@json {{ netbox_role_mapping | to_json }}'
{% endif %}
{% if netbox_filter_inventory | length > 0 %}
NETBOX_FILTER_INVENTORY='@json {{ netbox_filter_inventory | to_json }}'
{% endif %}
{% if netbox_filter_conductor_ironic | length > 0 %}
NETBOX_FILTER_CONDUCTOR_IRONIC='@json {{ netbox_filter_conductor_ironic | to_json }}'
{% endif %}
{% if netbox_filter_conductor_sonic | length > 0 %}
NETBOX_FILTER_CONDUCTOR_SONIC='@json {{ netbox_filter_conductor_sonic | to_json }}'
{% endif %}
{% if manager_inventory_ignore_provision_state | bool %}
INVENTORY_IGNORE_PROVISION_STATE=True
{% endif %}
