MYSQL_DATABASE={{ manager_ara_server_mariadb_databasename }}
MYSQL_PASSWORD={{ manager_ara_server_mariadb_password }}
MYSQL_ROOT_PASSWORD={{ manager_ara_server_mariadb_password }}
MYSQL_USER={{ manager_ara_server_mariadb_username }}
MARIADB_AUTO_UPGRADE=1
