MYSQL_DATABASE={{ ara_server_mariadb_databasename }}
MYSQL_PASSWORD={{ ara_server_mariadb_password }}
MYSQL_ROOT_PASSWORD={{ ara_server_mariadb_password }}
MYSQL_USER={{ ara_server_mariadb_username }}
