OS_PROJECT_DOMAIN_NAME={{ manager_openstack_os_project_domain_name }}
OS_USER_DOMAIN_NAME={{ manager_openstack_os_user_domain_name }}
OS_PROJECT_NAME={{ manager_openstack_os_project_name }}
OS_USERNAME={{ manager_openstack_os_username }}
OS_PASSWORD={{ manager_openstack_os_password }}
OS_AUTH_URL={{ manager_openstack_os_auth_url }}
