---
- name: Copy docker-compose.yml file
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: "{{ scaphandre_docker_compose_directory }}/docker-compose.yml"
    owner: "{{ operator_user }}"
    group: "{{ operator_group }}"
    mode: 0640
  notify: Restart scaphandre service

- name: Start/enable scaphandre service
  become: true
  ansible.builtin.service:
    name: "{{ scaphandre_service_name }}"
    state: started
    enabled: true
