---
- name: Create required directories
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ operator_user }}"
    group: "{{ operator_group }}"
    mode: 0750
  loop:
    - "{{ openstackclient_configuration_directory }}"
    - "{{ openstackclient_data_directory }}"
    - "{{ openstackclient_docker_compose_directory }}"

- name: Copy docker-compose.yml file
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: "{{ openstackclient_docker_compose_directory }}/docker-compose.yml"
    owner: "{{ operator_user }}"
    group: "{{ operator_group }}"
    mode: 0640
  notify: Restart openstackclient service

- name: Start/enable openstackclient service
  become: true
  ansible.builtin.service:
    name: "{{ openstackclient_service_name }}"
    state: started
    enabled: true

- name: Copy wrapper scripts
  become: true
  ansible.builtin.template:
    src: "wrapper/{{ item }}.j2"
    dest: "/usr/local/bin/{{ item }}"
    mode: 0755
    owner: "{{ operator_user }}"
    group: "{{ operator_group }}"
  loop:
    - openstack
    - ospurge

- name: Copy bash completion script
  become: true
  ansible.builtin.command: "docker cp {{ openstackclient_container_name }}:/osc.bash_completion /etc/bash_completion.d/openstack"
  register: result
  changed_when: false
  failed_when: result.rc != 0
