{% for interface in _dnsmasq_interfaces %}
interface={{ interface }}
{% endfor %}
bind-interfaces
{% for dhcp_range in _dnsmasq_dhcp_ranges %}
dhcp-range={{ dhcp_range }}
{% endfor %}
{% for dhcp_host in _dnsmasq_dhcp_hosts %}
dhcp-host={{ dhcp_host }}
{% endfor %}
{% for dhcp_mac in _dnsmasq_dhcp_macs %}
dhcp-mac={{ dhcp_mac }}
{% endfor %}
{% for dhcp_userclass in _dnsmasq_dhcp_userclass %}
dhcp-userclass={{ dhcp_userclass }}
{% endfor %}
{% for dhcp_vendorclass in _dnsmasq_dhcp_vendorclass %}
dhcp-vendorclass={{ dhcp_vendorclass }}
{% endfor %}
{% for dhcp_boot in _dnsmasq_dhcp_boot %}
dhcp-boot={{ dhcp_boot }}
{% endfor %}
{% for dhcp_option in _dnsmasq_dhcp_options %}
dhcp-option={{ dhcp_option }}
{% endfor %}
{% for dhcp_option_force in _dnsmasq_dhcp_options_force %}
dhcp-option-force={{ dhcp_option_force }}
{% endfor %}
{% if dnsmasq_enable_tftp | bool %}
enable-tftp
tftp-root=/var/lib/tftp
{% endif %}
{% if dnsmasq_enable_dns | bool %}
no-hosts
no-resolv
localise-queries
{% for dns_server in dnsmasq_dns_servers %}
server={{ dns_server }}
{% endfor %}
{% for dns_host in dnsmasq_dns_hosts %}
address={{ dns_host }}
{% endfor %}
{% for dynamic_host in _dnsmasq_dynamic_hosts %}
dynamic-host={{ dynamic_host }}
{% endfor %}
{% else %}
port=0
{% endif %}
{% for extra_parameter in _dnsmasq_extra_parameters %}
{{ extra_parameter.key }}={{ extra_parameter.value }}
{% endfor %}
