port=0
interface={{ dnsmasq_interface }}
{% if dnsmasq_dhcp_range is defined and dnsmasq_dhcp_range | length > 0 %}
dhcp-range={{ dnsmasq_dhcp_range }}
{% endif %}
{% for dhcp_host in dnsmasq_dhcp_hosts %}
dhcp-host={{ dhcp_host }}
{% endfor %}
{% if dnsmasq_enable_tftp | bool %}
enable-tftp
tftp-root=/var/lib/tftp
{% endif %}
{% if dnsmasq_enable_dns | bool %}
no-resolv
{% for dns_server in dnsmasq_dns_servers %}
server={{ dns_server }}
{% endfor %}
{% for dns_host in dnsmasq_dns_hosts %}
address={{ dns_host }}
{% endfor %}
{% endif %}
