port=0
interface={{ dnsmasq_interface }}
dhcp-range={{ dnsmasq_dhcp_range }}
{% for dhcp_host in dnsmasq_dhcp_hosts %}
dhcp-host={{ dhcp_host }}
{% endfor %}
{% if dnsmasq_enable_tftp | bool %}
enable-tftp
tftp-root=/var/lib/tftp
{% endif %}
