CA_CERT_FILE=/run/secrets/ca_cert
TLS_REQCERT=never
LDAP_URI=ldap://{{ openldap_host }}:{{ openldap_ldap_port }}
LDAP_BASE={{ openldap_base_dn }}
LDAP_MACHINE_PASSWORD={{ openldap_password }}
LDAP_ADMIN_PASSWORD={{ openldap_password }}
ldap/base={{ openldap_base_dn }}
ldap/master={{ openldap_host }}
ldap/master/port={{ openldap_ldap_port }}
ldap/server/name={{ openldap_host }}
ldap/server/port={{ openldap_ldap_port }}
ldap/server/ip=1.2.3.4
ldap/hostdn=cn=admin,{{ openldap_base_dn }}
directory/manager/rest/authorized-groups/dc-backup=cn=DC Backup Hosts,cn=groups,{{ openldap_base_dn }}
directory/manager/rest/authorized-groups/dc-slaves=cn=DC Slave Hosts,cn=groups,{{ openldap_base_dn }}
directory/manager/rest/authorized-groups/domain-admins=cn=Domain Admins,cn=groups,{{ openldap_base_dn }}
directory/manager/templates/alphanum/whitelist=
directory/manager/user/activate_ldap_attribute_mailForwardCopyToSelf=yes
directory/manager/user_group/uniqueness=true
directory/manager/web/language=de_DE.UTF-8
directory/manager/web/modules/autosearch=1
directory/manager/web/modules/computers/computer/add/default=computers/windows
directory/manager/web/modules/groups/group/caching/uniqueMember/timeout=300
directory/manager/web/modules/groups/group/checks/circular_dependency=yes
directory/manager/web/modules/search/advanced_on_open=false
directory/manager/web/modules/users/user/properties/homePostalAddress/syntax=postalAddress
directory/manager/web/modules/wizards/disabled=no
directory/manager/web/sizelimit=2000
directory/reports/cleanup/age=43200
directory/reports/cleanup/cron=0 0 * * *
directory/reports/logo=/usr/share/univention-directory-reports/univention_logo.png
directory/reports/templates/csv/computer1=computers/computer "CSV Report" /etc/univention/directory/reports/default computers.csv
directory/reports/templates/csv/group1=groups/group "CSV Report" /etc/univention/directory/reports/default groups.csv
directory/reports/templates/csv/user1=users/user "CSV Report" /etc/univention/directory/reports/default users.csv
directory/reports/templates/pdf/computer1=computers/computer "PDF Document" /etc/univention/directory/reports/default computers.rml
directory/reports/templates/pdf/group1=groups/group "PDF Document" /etc/univention/directory/reports/default groups.rml
directory/reports/templates/pdf/user1=users/user "PDF Document" /etc/univention/directory/reports/default users.rml
