CA_CERT_FILE=/run/secrets/ca_cert
TLS_REQCERT=never
LDAP_URI=ldap://{{ openldap_host }}:{{ openldap_ldap_port }}
LDAP_BASE={{ openldap_base_dn }}
LDAP_MACHINE_PASSWORD={{ openldap_password }}
LDAP_ADMIN_PASSWORD={{ openldap_password }}
LDAP_BASE={{ openldap_base_dn }}
LDAP_MASTER={{ openldap_host }}
LDAP_MASTER_PORT={{ openldap_ldap_port }}
LDAP_SERVER_NAME={{ openldap_host }}
LDAP_SERVER_PORT={{ openldap_ldap_port }}
LDAP_HOSTDN=cn=admin,{{ openldap_base_dn }}
DIRECTORY_MANAGER_REST_AUTHORIZED_GROUPS_DC_BACKUP=cn=DC Backup Hosts,cn=groups,{{ openldap_base_dn }}
DIRECTORY_MANAGER_REST_AUTHORIZED_GROUPS_DC_SLAVES=cn=DC Slave Hosts,cn=groups,{{ openldap_base_dn }}
DIRECTORY_MANAGER_REST_AUTHORIZED_GROUPS_DOMAIN_ADMINS=cn=Domain Admins,cn=groups,{{ openldap_base_dn }}
DIRECTORY_MANAGER_TEMPLATES_ALPHANUM_WHITELIST=
DIRECTORY_MANAGER_USER_ACTIVATE_LDAP_ATTRIBUTE_MAILFORWARDCOPYTOSELF=yes
DIRECTORY_MANAGER_USER_GROUP_UNIQUENESS=true
DIRECTORY_MANAGER_WEB_LANGUAGE=de_DE.UTF-8
DIRECTORY_MANAGER_WEB_MODULES_AUTOSEARCH=1
DIRECTORY_MANAGER_WEB_MODULES_COMPUTERS_COMPUTER_ADD_DEFAULT=computers/windows
DIRECTORY_MANAGER_WEB_MODULES_GROUPS_GROUP_CACHING_UNIQUEMEMBER_TIMEOUT=300
DIRECTORY_MANAGER_WEB_MODULES_GROUPS_GROUP_CHECKS_CIRCULAR_DEPENDENCY=yes
DIRECTORY_MANAGER_WEB_MODULES_SEARCH_ADVANCED_ON_OPEN=false
DIRECTORY_MANAGER_WEB_MODULES_USERS_USER_PROPERTIES_HOMEPOSTALADDRESS_SYNTAX=postalAddress
DIRECTORY_MANAGER_WEB_MODULES_WIZARDS_DISABLED=no
DIRECTORY_MANAGER_WEB_SIZELIMIT=2000
DIRECTORY_REPORTS_CLEANUP_AGE=43200
DIRECTORY_REPORTS_CLEANUP_CRON=0 0 * * *
DIRECTORY_REPORTS_LOGO=/usr/share/univention-directory-reports/univention_logo.png
DIRECTORY_REPORTS_TEMPLATES_CSV_COMPUTER1=computers/computer "CSV Report" /etc/univention/directory/reports/default computers.csv
DIRECTORY_REPORTS_TEMPLATES_CSV_GROUP1=groups/group "CSV Report" /etc/univention/directory/reports/default groups.csv
DIRECTORY_REPORTS_TEMPLATES_CSV_USER1=users/user "CSV Report" /etc/univention/directory/reports/default users.csv
DIRECTORY_REPORTS_TEMPLATES_PDF_COMPUTER1=computers/computer "PDF Document" /etc/univention/directory/reports/default computers.rml
DIRECTORY_REPORTS_TEMPLATES_PDF_GROUP1=groups/group "PDF Document" /etc/univention/directory/reports/default groups.rml
DIRECTORY_REPORTS_TEMPLATES_PDF_USER1=users/user "PDF Document" /etc/univention/directory/reports/default users.rml
