---
namespace: osism
name: services
version: {{ tag | regex_replace('^v', '') }}
readme: README.md
authors:
  - OSISM community <info@osism.tech>
description: OSISM service roles
license_file: LICENSE
tags:
  - osism
  - system
dependencies: {}
repository: https://github.com/osism/ansible-collection-services.git
documentation: https://docs.osism.tech
homepage: https://osism.tech
issues: https://github.com/osism/ansible-collection-services/issues
